[2021-12-09 11:28] cafunechen commented on #687
hi，Have you solved the problem yet？I have the same problem now

[2021-12-09 18:41] ustunb commented on #1190
Hello! I'm following up on this issue.

I'd like to install cvxpy on a M1 Mac using pip, rather than conda-forge. Is there a way to do this?

Currently, most of the proposed solutions in this thread lead to various bugs. This includes:

[code]

I am using Python 3.9.4 but happy to switch.

Happy to post as a separate issue, or follow up on Discord.

[2021-12-09 19:18] sunilshah commented on #1190
Have you tried ``` pip3 install -U -no-use-pep517 cvxpy``` ?   I have installed version cvxpy 1.1.17 on my M1 under OS 12.0.1.  Python3 version 3.9.9 was installed using Homebrew.

[2021-12-09 23:29] ustunb commented on #1190
Thanks!

I just tried to install using `pip install -U --no-use-pep517 --no-cache-dir cvxpy` but run into an error.

I'm including the error logs below. Any chance you know what might be going on? If you managed to get it working, I feel like it might be something silly.

[code]

[2021-12-09 23:35] SteveDiamond commented on #1190
@ustunb you have the command line tools installed right?

[2021-12-09 23:39] ustunb commented on #1190
Yes that's right.

Running `xcode-select --install` returns `xcode-select: error: command line tools are already installed, use "Software Update" to install updates`

[2021-12-09 23:47] sunilshah commented on #1190
@ustnub

In my case, I installed numpy, scipy, cmake, osqp, cvxopt, scs  before I installing cvxpy.   I used homebrew to install numpy 1.21.4.  Scipy is v 1.7.2 (v 1.7.3   slows down parallel tasks for my installation).  Dependencies such as openblas and cmake are installed using homebrew.  Most packages require compilation from source.

[2021-12-09 23:59] ustunb commented on #1190
Thank you!

I installed cmake using homebrew and it worked!

In case anyone else runs into this issue, the command that I ran was:

`pip install -U --no-use-pep517 --no-cache-dir cvxpy`

This installed cvxpy-1.1.17

I had also installed openblas via brew, and also had scipy and numpy
installed.

If anyone else runs into the same problem: I had also installed

On Thu, Dec 9, 2021 at 3:48 PM sunilsh

[2021-12-10 02:33] dmalyuta opened #1571 "Leaf boolean / integer plus another attribute"
I think [L139](https://github.com/cvxpy/cvxpy/blob/master/cvxpy/expressions/leaf.py#L139) should be `or` if I am interpreting [L137](https://github.com/cvxpy/cvxpy/blob/master/cvxpy/expressions/leaf.py#L137) correctly. Is this a bug? Feels like we should be able to set a nonnegative integer variable without a problem.

[2021-12-10 03:31] SteveDiamond commented on #1571
It's not a bug. Variables can only have one property. See #566. We've had a lot of discussion about this and it's clearly not a popular design choice, but there are internal reasons for doing it this way.

[2021-12-10 07:09] #1571 closed

[2021-12-10 17:26] tkralphs commented on #687
@cafunechen Is this the same problem you reported in coin-or/CyLP#137? If so, this is not actually the same issue. The problem you reported there was that CyLP crashed, not that Cbc couldn't be found.

[2021-12-10 17:27] tkralphs commented on #687
While I'm here, I'm happy to report that there is now a conda package for Cbc, so it is straightforward to install CyLP on all platforms now! Please see the [README}(https://github.com/coin-or/CyLP).

[2021-12-10 21:02] dotPiano opened #1572 "CVXPY does not recognize expression as DQCP"
**Describe the bug**
I need to minimize `f(x, y) = x / (1 - e^y)`, with `x >= 0` and `y <= 0`.
I can rewrite it as `f(x, y) = x * z` where `z = 1 / (1 - e^y)`. `x` is nonnegative affine and `z` is nonnegative convex. This function looks quasiconcave to me and I would expect CVXPY to recognize it since, according to the [documentation](https://www.cvxpy.org/tutorial/dqcp/index.html), *the scalar pr

[2021-12-10 21:14] akshayka commented on #1572
Perhaps the docs can be clearer.

Here is the relevant part of the composition rule:

The scalar product is a quasiconcave atom, _provided that_ its arguments are nonnegative. This does not mean that the product of two arbitrary nonnegative expressions is quasiconcave.
![image](https://user-images.githubusercontent.com/1994308/145642048-c795f330-88da-4235-ad1b-61546cf209d5.png)

In particular, by

[2021-12-11 17:21] dotPiano commented on #1572
Thank you for the clarification, indeed I mixed up the properties of functions and atoms.

I'm still convinced that `f` is quasiconvex and I could model it in DQCP using a ratio rather than a product. However this also doesn't work:

[code]

The reason seem to be that the sign of the denominator cannot be inferred, although it should be non-negative since `y` is negative. Is this expected?

[code]

[2021-12-11 17:29] algebravic opened #1574 "Support for relaxations"
I would like to ask that the following features be added for relaxations:

1) Lagrangian relaxations.  It would be nice to have a model, plus a specific set of constraints to be dualized.  The output would be a parametrized model (by the Lagrange multipliers) where the specified constraints are moved to the objective.

2) SDP relaxations.  A similar request -- if a model has quadratic constraints,

[2021-12-12 01:31] SteveDiamond commented on #1361
New wheels for ECOS are online, going up to Python 3.9.

[2021-12-12 21:45] rileyjmurray commented on #1569
I forgot that deployments were already based on commit tags. Glad to hear that moving forward will be simple, @phschiele!

@akshayka I suggested ``maintenance/1.v.x`` just because that's the convention used by numpy and scipy. But I went back and looked at other NumFOCUS projects, and it seems that convention is far from universal. I'm on board with using ``release/1.v.x``.

Let's start to make pl

[2021-12-13 02:40] rileyjmurray opened #1576 "Develop a policy for the working (un-released) version of cvxpy on master"
Historically, the version of cvxpy on master has been left equal to that of the last release. So installing from source today (December 12, 2021) would install "cvxpy 1.1.17," but the actual code would be different from the public 1.1.17 release.

I think it would be more natural to (1) set cvxpy's working version to that of the *next minor release* and (2) to have flags indicate that the version

[2021-12-13 03:27] r-barnes commented on #1404
In general, if we have
[code]
then we can write this using @SteveDiamond 's atoms via:
[code]

[2021-12-13 04:19] SteveDiamond commented on #1576
This is fine with me. I like the idea that installations from source will have tags unique to the commit.

[2021-12-13 04:22] SteveDiamond commented on #1404
It would be worth adding an atom for this transformation. Not sure what it would be called.

[2021-12-13 04:26] rileyjmurray commented on #1404
@SteveDiamond @r-barnes maybe ``inv_pos`` could just be extended to accept two arguments for coefficients in the denominator? The numerator coefficient doesn't really need special treatment.

[2021-12-15 10:02] andruten commented on #1190
Thank you @ustunb! It worked for me. I also had to specify `ecos==2.0.7.post.1` version. See https://github.com/embotech/ecos-python/issues/33

[2021-12-16 18:47] Anjiang-Wei opened #1578 "Wrong code comments?"
**Describe the bug**
In this code example (https://colab.research.google.com/github/cvxpy/cvxpy/blob/master/examples/notebooks/WWW/Channel_capacity_BV4.57.ipynb#scrollTo=NVgWp0w0gRfM for `Capacity of a Communication Channel`) or https://www.cvxpy.org/examples/applications/Channel_capacity_BV4.57.html, I have identified two bugs.
Background information:
[code]
I first show the code comments written

[2021-12-17 00:16] Anjiang-Wei commented on #1578
Also, there are another two minor issues:
(3) When P contains 0, this can fail
[code]

(4) `cp.entr` uses e as base of log. I would suggest using 2 as base (just as the log2 you are invoking in the above script)
[code]

[2021-12-17 02:26] zhumingpassional opened #1579 "How to use C++ to directly call the CVX (C++ code) without any python code?"
**Is your feature request related to a problem? Please describe.**
In my project, python is forbidden, and I have to use C++ to call CVX, how to do it? Could you please provide several examples?
If I have to use CVX in other CPUs such as ARM, how to solve this problem?

**Describe the solution you'd like**
I hope CVX can provide other programming language interface, e.g., C++, JAVA. I also hope CV

[2021-12-17 07:37] vltanh opened #1580 "Weird errors (nan objects) after running solver"
**Describe the bug**
numpy object becomes nan after solving.

**To Reproduce**
`from dataclasses import dataclass
from cvxpy.settings import H
import numpy as np
import cvxpy as cp

@dataclass()
class UOT:
    tau: np.float128

n = 10
tau = np.float128(5.0)

p = UOT(tau)
print(hex(id(tau)), hex(id(p.tau)))

print(p.tau, tau)

u = cp.Variable(shape=n)
obj = tau * cp.sum(cp.exp(-u / tau))

prob = cp

[2021-12-17 08:31] vltanh commented on #1580
Actually, after further exploring, I think it has issues with np.float128:

[code]

[code]

Meaning that any variable called right after will be nan.

[2021-12-17 12:09] keithbriggs commented on #1578
Thanks for these comments.   I'm not sure who owns the colab and cvxpy webpages, so I don't know how to fix them.

[2021-12-17 15:50] SteveDiamond commented on #1578
@Anjiang-Wei could you do a PR fixing the notebook (https://github.com/cvxpy/cvxpy/blob/master/examples/notebooks/WWW/Channel_capacity_BV4.57.ipynb)?

[2021-12-17 15:51] SteveDiamond commented on #1579
Right now you can only use CVXPY from Python. Are you sure it doesn't work on ARM?

[2021-12-17 18:48] SteveDiamond commented on #1574
Sorry for the delayed response.

1. You can get the arguments of constraints programmatically
(see https://www.cvxpy.org/api_reference/cvxpy.constraints.html) and form the Lagrangian along the lines you described.

2. The most relevant code is this package: https://github.com/cvxgrp/qcqp
It does SDP relaxations of non-convex QCQPs automatically. However it only works with CVXPY 0.4 unfortunately.

[2021-12-17 18:51] SteveDiamond commented on #1580
It works for me on mac. We should add this as a test and see what happens in CI.

[2021-12-17 18:54] rileyjmurray commented on #1580
@SteveDiamond @vltanh it's worth noting that the behavior of np.float128 can vary from OS-to-OS. See [here](https://github.com/winpython/winpython/issues/613) for one such example. If CI tests fail on some OS it might be hard to debug locally.

[2021-12-17 18:56] vltanh commented on #1580
Does not seem to be a problem on PopOS 21.4 so I think it is a case of OS-dependent problems.

The original problem is reported on Arch Linux.

[2021-12-17 19:09] phschiele commented on #1580
I have also tried the snippet under Ubuntu 20.04, where it worked without issues.

The output is indeed puzzling, I have never seen that two consecutive prints would yield different results.

[2021-12-17 19:21] SteveDiamond commented on #1558
I gave it a try and looks potentially helpful. Do you want to make a PR with the changes that look helpful?

[2021-12-17 19:30] algebravic commented on #1574
Steven, Thanks for the response.

Victor

On Fri, Dec 17, 2021 at 1:48 PM Steven Diamond ***@***.***>
wrote:

[2021-12-17 19:39] SteveDiamond commented on #1572
@dotPiano recognizing ``1-cp.exp(y)`` as non-negative because ``y`` is negative is beyond the sign analysis that CVXPY does. A simple fix is to create a ``Wrap`` that asserts the expression is non-negative. Then the DQCP analysis will use that fact.

See here for how to make a ``Wrap``: https://github.com/cvxpy/cvxpy/blob/8f1939e9c40d2314b3f5a873c7074421a794dd65/cvxpy/atoms/affine/wraps.py

[2021-12-17 20:16] GrayThomas opened #1581 "inv_prod can result in TypeError at Dcp2Cone stage"
**Describe the bug**
In cvxpy-1.1.17, with Python3.7, using inv_prod with two or three elements resulted in a TypeError:

`/fractions.py", line 559, in __hash__
    dinv = pow(self._denominator, _PyHASH_MODULUS - 2, _PyHASH_MODULUS)
TypeError: unsupported operand type(s) for pow(): 'numpy.int64', 'int', 'int'
`
**To Reproduce**
[code]

**Expected behavior**
In theory, the behavior should be identi

[2021-12-17 23:19] SteveDiamond commented on #1581
The issue is that a power atom is being created with a power of type ``np.int64``. This breaks code later involving fractions. The bug can be fixed by changing line
https://github.com/cvxpy/cvxpy/blob/82492d83255452c5b8e744147202289766a5d2f8/cvxpy/atoms/inv_prod.py#L38
to ``return power(inv_pos(geo_mean(value)), int(sum(value.shape)))``.

@akshayka @rileyjmurray should we deploy that fix or add br

[2021-12-18 13:31] mirkosavasta opened #1583 "Fix dependencies versions"
It would be useful to fix the dependencies versions within the requirements file to prevent problems.

A new version of scs has been released the 16th of December 2021 and this caused problems to a brand new installation of the library.

Thanks in advance.

[2021-12-18 15:42] FlorianSchwendinger commented on #979
I also run in the issue #997, the reason was that I opened python in my home directory where mosek resides in the mosek folder. A very simple check you could do is just look if the package you load has a version since if you just load a folder or file you typically don't have an attribute "__version__" .

[2021-12-18 20:17] dcajasn opened #1585 "Two methods for reformulating a large portfolio optimization model"
**Describe the bug**
I was trying to solve the Gini Mean Difference portfolio model proposed by [Yitzhaki](https://www.jstor.org/stable/1808584?origin=JSTOR-pdf):

![image](https://user-images.githubusercontent.com/61527316/146652679-e14695bb-a6a6-4731-9b0b-9a0d5bd8f0de.png)

Its equivalent linear programming model is:

![image](https://user-images.githubusercontent.com/61527316/146652686-055a1702

[2021-12-18 21:24] marc-weber1 commented on #1572
It's not at all obvious from this how to make a wrap, and it's not at all obvious how to even verify that an expression is non-negative, increasing, or anything useful for proving quasiconvexity. More documentation would be appreciated, but it seems like cvxpy doesn't even check very basic signage, like this:

[code]

Is there no more user-friendly way to do this, like maybe signage checks that ar

[2021-12-18 23:04] akshayka commented on #1572
Unfortunately, no, there is no more user-friendly way to override  or extend CVXPY's analyses of expressions.

The error with the sum expression has to do with the fact (I'm guessing) that adding a nonnegative constant is (mistakenly) not recognized as an increasing function. We could fix this special case, but I don't think it would help you (would it)?

At this point, your options are to either

[2021-12-19 19:45] dotPiano commented on #1572
Thanks everyone for the answers.

Ultimately I concluded that I cannot use DQCP because I need to work with `cp.sum(f)`, which is not quasiconvex. My last resort is to use DMCP, with all the risks such problems involve (local minima are my biggest worry at the moment).

I think the issue is solved for me. I'll just add a little feedback following up on @akshayka comment: CVXPY is an amazing piece

[2021-12-19 20:11] akshayka commented on #1572
@dotPiano, thanks for the kind & helpful feedback!

[2021-12-20 01:41] Anjiang-Wei commented on #1578
Fixed in https://github.com/cvxpy/cvxpy/pull/1582 and https://github.com/cvxpy/cvxpy/pull/1587

[2021-12-20 01:42] #1578 closed

[2021-12-20 06:40] Shiyou999 commented on #1190
`pip install ecos==2.0.5` fixed my problem! Thanks a lot!

[2021-12-20 12:52] MennovDijk commented on #1583
Having the same issue here.

@mirkosavasta did you resolve this yourself already? If so, how?

[2021-12-20 19:07] phschiele commented on #1583
@mirkosavasta @MennovDijk Can you share some details on the issues you are facing?

[2021-12-21 12:09] mirkosavasta commented on #1583
@MennovDijk To solve it is enough to fix the dependencies directly in the requirements.txt that you use to build a docker container or just to create a virtual environment.

Just add the following to your requirements.txt and you should be fine.

scs==2.1.4
osqp==0.6.2.post0
ecos==2.0.8

[2021-12-21 12:16] mirkosavasta commented on #1583
Hello @phschiele,

the versions of cvxpy dependencies are not fixed in your requirements.txt.

This implies that a new release of one of the libraries cvxpy depends on can break some cvxpy functionality because if you install cvxpy from scratch you always install the latest version of the dependencies.

Thanks.

[2021-12-22 00:58] croci opened #1588 "Call to CVXOPT crashes without any informative error"
**Describe the bug**
Calling CVXOPT with a badly scaled SDP causes CVXPY to crash without any information.

**To Reproduce**
See minimum working code and data in the attached zip file. The matrix psi is badly scaled. Setting scale to 1 causes the solver to crash. A better scaling makes it work.
[crash.zip](https://github.com/cvxpy/cvxpy/files/7759138/crash.zip)

**Expected behavior**
It would be u

[2021-12-22 20:54] phschiele commented on #1583
@mirkosavasta I can see that a broken build after a new (sub)dependency release is not great.

Having had similar issues in the past, I can highly recommend `poetry` to freeze the subdependencies. This way, the builds are easily reproducible.

I'm not sure if from the perspective of a library fixing the requirements to a specific version is ideal, as one generally would want to support the widest

[2021-12-22 23:11] rajat-talak opened #1589 "Problem Installing CVXPY with PIP"
**Describe the bug**
I crate a new virtual environment using "virtualenv -p python3 env-name" and then pip install cvxpy. All works fine. However, when I type the code "import cvxpy" I get the following error:

ImportError: "..../env-name/lib/python3.8/site-packages/_scs_direct.cpython-38-x86_64-linux-gnu.so": undefined symbol: dgesv_

**To Reproduce**
A [minimal code example](https://stackoverflo

[2021-12-23 09:13] adishavit opened #1590 "Integer variables in GP"
Is it possible to solve a mixed integer geometric program?
Currently, one can set just one attribute: either `integer=True` of `pos=True`. The latter is mandatory for GP problems.
Is there a way of somehow using integer variables in GPs despite this (other than using the as Real and rounding)?

[2021-12-23 10:34] phschiele commented on #1590
@adishavit This is currently not supported. See #1446 for details.
You can try setting only `integer=True` and add a constraint of the form `x>=0`.
As mentioned in#1446, you could add a `nonneg` wrap if you need the sign for DCP reasons.

[2021-12-23 10:40] phschiele commented on #1589
@rajat-talak The problem seems to be that a function of [LAPACK](http://www.netlib.org/lapack/explore-html/d7/d3b/group__double_g_esolve_ga5ee879032a8365897c3ba91e3dc8d512.html) is not found.

Could you try to install:
`sudo apt-get install libopenblas-dev`

[2021-12-23 15:33] rajat-talak commented on #1589
Thanks for the reply.

I installed it and the same problem persists. I even tried to installing:
[code]
and the problem does not go away.

Just a correction, I get the error "undefined symbol: dgesv_" and not "undefined symbol: dgesv". I don't know if this is a problem.

Also, I think scipy also depends on LAPACK. I tried installing it separately via pip in a virtual environment. It does not give

[2021-12-23 16:15] adishavit opened #1591 "Can't solve simple GP"
I don't understand why this GP:
[code]
fails with:
[code]

Setting bounds on `y`, using `Minimize`, or `x * y <= 7` instead of `x * y == 7` all fail for the same reason.

Isn't the whole point of GP to multiply variables?

BTW, the same program with [gpkit](https://gpkit.readthedocs.io/en/latest/index.html#) runs fine.

[2021-12-23 16:20] adishavit commented on #1591
I think it is an installation issue.

[2021-12-23 20:00] SteveDiamond commented on #1590
@phschiele this is the first situation I've seen where the limitation of one attribute per variable is a real impediment. I'm starting to think that maybe multiple attributes should be allowed. Something to discuss in the discord.

@adishavit this is a very interesting use case! If you have too much trouble making a ``pos`` wrap feel free to DM me.

[2021-12-24 03:04] zhumingpassional commented on #1579
I'm not sure whether cvxpy works on ARM. It is said that python code can be moved to ARM.  It may be not as convenient as C++ code if working on ARM.

Will cvxpy support C++ interface in the future? I hope. What do you think about it?

[2021-12-24 04:11] SteveDiamond commented on #1579
At some point there will be support for code generation in the style of https://cvxgen.com/docs/index.html
But I can't promise any timeline.

[2021-12-24 10:47] adishavit commented on #1591
(Reopening issues)
I'm trying to run the GP example from the site:

[code]
This fails with:

[code]

My setup:
[code]
Is there some other package or flag that I need to set or install?

[2021-12-24 10:50] keithbriggs commented on #1591
This works for me with cvxpy 1.1.3.

[2021-12-24 10:54] adishavit commented on #1591
Didn;t work for me with 1.1.13 either. ☹️

[2021-12-24 16:59] akshayka commented on #1591
I think you may have some sort of installation error.

Can you print the version of CVXPY in the Python script (add `print(cp.__version__)` as the second line of your script)?

This works locally on my machine (tested it on 1.1.13, 1.1.15, 1.1.17, ... ). I get the output

[code]

We also test many dgp problems in our unit tests.

[2021-12-24 17:08] akshayka commented on #1591
The local tests from above were run using manylinux wheels from PyPi, and from conda-forge. Our unit tests are run on all major platforms, including Windows. The error you're seeing is quite strange. I don't know what it could be, other than an installation error.

[2021-12-24 17:14] adishavit commented on #1591
You're right. Very strange.
When I now ran it isolated from other code it succeeds.
Something gets corrupted in my local function context.
Investigating.

[2021-12-24 17:37] jarrodwilcox opened #1592 "can't install cvxpy on python 3.10 with Intel Mac"
See first error message in stream:
Python 3.10.0 (v3.10.0:b494f5935c, Oct  4 2021, 14:59:20) [Clang 12.0.5 (clang-1205.0.22.11)] on darwin
Type "help", "copyright", "credits" or "license" for more information.

(venv) jarrod@Jarrods-iMac pydev10 % pip install cvxpy
Collecting cvxpy
  Using cached cvxpy-1.1.17.tar.gz (1.3 MB)
  Installing build dependencies ... done
  Getting requirements to build

[2021-12-24 17:49] adishavit commented on #1591
Closing this for now. Sorry for the noise. It was a Heisenbug...

[2021-12-24 17:49] #1591 closed

[2021-12-27 06:38] adishavit opened #1594 "Supporting Non-Linear / Non-Convex Optimization"
I’d like to discuss something a bit heretical (repost from a Discord discussion with @SteveDiamond).

I recently had to solve a problem related to calculating accumulated rectangular areas and taking into account various overlap conditions. The details are unimportant here. I was sure I had a GP and indeed it almost was. However, there was one equation which made it non DGP. Both cvxpy and gpkit b

[2021-12-27 16:10] SteveDiamond commented on #1594
In reference to the above, I'd like to add CVXPY interfaces to (nonconvex) nonlinear solvers such as IPOPT and Knitro. A good first step in my mind would be adding support for nonconvex quadratics. Gurobi supports nonconvex quadratics as well: https://www.gurobi.com/documentation/9.5/refman/nonconvex.html

The way to get started IMO is by adding support for nonconvex quadratics in the objective. T

[2021-12-27 20:17] SteveDiamond commented on #1589
@rajat-talak try uninstalling scs. You don't need it to use cvxpy. It's included for convenience, and we're working to make it easier to install.

[2021-12-28 12:07] mirkosavasta commented on #1583
Thanks a lot for your advice.

[2021-12-28 12:07] #1583 closed

[2021-12-28 22:48] SteveDiamond commented on #1592
HI @jarrodwilcox , we are working to make it easier to install cvxpy on python 3.10. cvxpy and every dependency now have wheels out for Python 3.10 on windows, linux, and mac, except for scs (which we are still working on).

[2022-01-02 04:16] usamamuneeb commented on #1093
I realize this issue is kinda old, but I would love to volunteer to add SDPT3 support to `CVXPY`. If someone has already started work on it, let me know how I can contribute, or if not, I can go ahead and get it started.

[2022-01-02 08:08] usamamuneeb commented on #1093
Most of SDPT3 code is pure MATLAB with just a handful of routines written in C. Adding SDPT to CVXPY is more than just creating a solver interface. The entire solver will basically need to be ported from MATLAB to Python first!

[2022-01-02 14:52] rileyjmurray commented on #1093
You could try calling SDPT3 using the Matlab engine from Python:
https://www.mathworks.com/help/matlab/matlab-engine-for-python.html.

On Sun, Jan 2, 2022 at 12:09 AM Usama Muneeb ***@***.***>
wrote:

[2022-01-02 20:45] usamamuneeb commented on #1093
That's a good idea, but eventually will require MATLAB to be installed, and not everyone has access to a MATLAB license. I guess one benefit of this approach over [pysdpt3glue](https://github.com/TrishGillett/pysdpt3glue) will be that we can call SDPT3 using more efficient approach than writing the variables to a file and issuing an external OS call to MATLAB. One downside being that it will work

[2022-01-02 22:01] phschiele commented on #1144
@adishavit Many thanks for your implementation above, this was really helpful for me!

The only thing that proved difficult for me is that it requires one binary helper variable per segment, which really slowed things down when the problems got larger.
That got me thinking if one can combine @akshayka 's and your suggestions to obtain a problem with fewer boolean variables.
Consider the example fr

[2022-01-03 13:54] adishavit commented on #1144
A few comments:

1. When I used it I only used a small number of segments (<12). I did not try a massive number.
2. The functions I used it with were all monotonic (log, exp, 1/x) they were not piecewise convex.
3. Using `cp.max` in the formulation means that one is not free to use both `Maximize()` and `Minimize()`. Something I'd like to avoid.
4. I found some literature regarding using log(N) bi

[2022-01-04 16:27] roberthuisman opened #1596 "cvxpy + ecos2.0.8 no longer compatible with numpy<1.20"
Hi all,

I'm experiencing the same bug as I reported a year ago: https://github.com/cvxpy/cvxpy/issues/1229. This time around it is actually the ecos package (v2.0.8) that is built on numpy 1.20 and therefore is incompatible with environments that installed numpy<1.20. This bug makes cvxpy unusable.

ecos also needs a pyproject.toml, just like cvxpy has.
I submitted a PR here: https://github.com/e

[2022-01-04 17:08] SteveDiamond commented on #1596
@roberthuisman could you also check diffcp and scs to see if they are compatible with numpy<1.20?

[2022-01-04 17:50] SteveDiamond commented on #1596
@roberthuisman could you try ecos again?

[2022-01-04 19:57] roberthuisman commented on #1596
@SteveDiamond

For ecos 2.0.9 i ran two test cases
1) Databricks runtime 7.3 LTS (https://docs.databricks.com/release-notes/runtime/7.3ml.html)
TLDR; python 3.7, numpy 1.18.1, pandas 1.0.1, cvxpy 1.1.18, cvxopt 1.2.7
2) Databricks runtime 9.1 LTS
python 3.8, numpy 1.19.2, pandas 1.2.4, cvxpy1.1.18, cvxopt 1.2.7

In both test cases cvxpy cannot find the ECOS installation? I now get the error messag

[2022-01-04 22:54] SteveDiamond commented on #1596
@roberthuisman can you try again? ecos should be fixed. There was a bug going back to ecos 2.0.8 actually...

[2022-01-05 07:38] roberthuisman commented on #1596
@SteveDiamond my issues are resolved with ecos2.0.10. Many thanks for the swift fixes :)

[2022-01-05 07:38] #1596 closed

[2022-01-07 10:41] julien-klaus opened #1597 "Wrong curvature for matrix_frac?"
There are some issues with the `matrix_frac` atomic function. It calculates **x' Px** for some vector **x** and matrix **P**. The curvature depends on the the definitness of **P**.

**To Reproduce** (I use the following versions)
 - OS: Microsoft Windows 10 Education (Version 10.0.19042 Build 19042)
 - CVXPY Version: 1.1.18
 - Anaconda Version: 4.11.0
 - Python Version: 3.8.12

There are two diffe

[2022-01-07 11:59] keithbriggs commented on #1597
I thought `matrix_frac` computed **tr X.T*P^-1*X**?

[2022-01-07 12:46] julien-klaus commented on #1597
Thank you for the reply. You are right, I forgot the inverse. But I could not found the trace in the scalar function table of https://www.cvxpy.org/tutorial/functions/index.html , but at the https://www.cvxpy.org/api_reference/cvxpy.atoms.other_atoms.html#matrix-frac it is the way you told.

Nevertheless the inverse does not change the curvature. I have no clue if the trace does so. Is this table

[2022-01-07 12:51] keithbriggs commented on #1597
Trace is in the table:

`trace(X) | tr(X) ...`

[2022-01-07 13:08] julien-klaus commented on #1597
I mean in the definition of `matrix_frac` in the table. Okay. So trace is affine and should not change the curvature.
So applying the new knowledge `matrix_frac(X, A) = tr(X'*A*X)` if I calculate the second derivative of it I get A'+A. So the curvature depends on the definitness of A if A is positiv semidefinit the curvature if `matrix_frac` should be convex and if A is nsd it should be concave. B

[2022-01-07 13:15] keithbriggs commented on #1597
In your examples, the quadratic form is a scalar so the trace should do nothing.   I see in the source code that trace is taken in some circumstances, but I don't know why.    We need the experts - wait a couple of hours for west coast US to wake up!

[2022-01-07 16:57] SteveDiamond commented on #1597
@julien-klaus it looks like the logic for ``matrix_frac(x, P)`` where ``P`` is a parameter is not correctly fleshed out. But it should be fine when ``P`` is not a parameter, and of course if ``P`` is a parameter you can use ``quad_form``.

[2022-01-07 19:11] phschiele commented on #1592
@jarrodwilcox Can you try if the problem has been resolved with the latest release?

[2022-01-07 19:13] phschiele commented on #1589
@rajat-talak Has the above suggestion solved your problem?
If not, can you try if the problem still persists after uninstalling CVXPY incl. all dependencies and reinstalling the latest version?

[2022-01-08 15:41] rileyjmurray commented on #1569
@akshayka @SteveDiamond @phschiele I've made a release/1.1.x branch: https://github.com/cvxpy/cvxpy/tree/release/1.1.x.

[2022-01-09 09:37] segeral opened #1599 "How to hidden the error: WARN: A->p (column pointers) not strictly increasing, column X empty?"
**Problem Background**
I'm currently working on some problems with quantum computing, and I need to solve **SDP** involving **complex matrices**. I also browsed related issues before(https://github.com/cvxpy/cvxpy/issues/481), but found that his issue is not quite the same as mine.

My program **does not fail**, and the results are **as expected**. But the annoying **WARN** always pops up when the

[2022-01-10 00:38] SteveDiamond commented on #1599
The warnings are coming from the solver SCS (https://github.com/cvxgrp/scs). You might want to raise an issue on their repo. You could also try using another SDP solver like Mosek.

[2022-01-10 01:24] segeral commented on #1599
After I install Mosek using command `conda install -c mosek mosek`, I always get an error when I run my program on VS Code:

[2022-01-10 01:26] segeral commented on #1599
After I install Mosek using command `conda install -c mosek mosek`, I always get an error when I run my program on VS Code:
[code]
How to deal with it?

[2022-01-10 11:29] #1599 closed

[2022-01-10 19:12] dqxiaoduan opened #1600 "When I try to run the code provided in a paper, it has following errors related to CVXPY"
**Describe the bug**
When I try to run the code provided in a paper, it has the following errors related to CVXPY:

(bayesrace) C:\Users\Lenovo\bayesrace>pip install -e .
Obtaining file:///C:/Users/Lenovo/bayesrace
Collecting pandas==1.0.3
  Using cached pandas-1.0.3-cp36-cp36m-win_amd64.whl (8.7 MB)
Collecting cvxpy==1.0.15
  Using cached cvxpy-1.0.15.tar.gz (915 kB)
    ERROR: Command errored ou

[2022-01-10 20:19] phschiele commented on #1600
@dqxiaoduan Can you try changing `'cvxpy==1.0.15'` to `'cvxpy==1.1.18` in `the setup.py` file?

[2022-01-10 21:04] dqxiaoduan commented on #1600
Hi, thanks for the response, but I am not sure if I can change the setup.py file in this repository: https://github.com/jainachin/bayesrace

Because I think I do not have the access to change the code, it is not written by me.

How about this solution: https://github.com/jainachin/bayesrace/issues/2
But when I try the solution: conda install setuptools setuptools<58 in my anaconda prompt, it is no

[2022-01-10 21:08] phschiele commented on #1600
@dqxiaoduan I thought you have cloned the repository so you can make local changes.

As for the alternative, I think you need "setuptools" only once?
Like so:
`conda install setuptools<58`

[2022-01-10 21:19] dqxiaoduan commented on #1600
Thank you for the instruction!

**But when I try this command(conda install setuptools<58), it is still not working with the following error:**

(bayesrace) C:\Users\Lenovo\bayesrace>conda install setuptools<58
系统找不到指定的文件。(The English translation for this is the system cannot find the corresponding files.)

**So instead of using the conda install setuptools<58 command, I use the conda install setu

[2022-01-10 21:31] phschiele commented on #1600
Can you try a more recent version, like 57?

I think this clearly is not a big in CVXPY itself, so I would suggest moving this discussion to the [Discord](https://discord.gg/4urRQeGBCr) if things don't work out with the above suggestion.

[2022-01-10 22:11] dqxiaoduan commented on #1600
Thanks for the instruction, the problem has been solved by downgrading the setuptools to a lower version.

[2022-01-11 07:03] JianqiangDing opened #1601 "Why data report no buxj?"
Hi, I am using cvxpy to solve a linear optimization problem under some constraints, the problem is the iterating solving procedure does not always remain stable, even there shall be a solution that exists theoretically. I am using MOSEK as the solver,  here is the MOSEK infeasibility report and info after calling MOSEK to analyze the cvxpy output problem file (**.gz).

Problem status: The problem

[2022-01-11 08:52] aszekMosek commented on #1601
CVXPY reformulates the problem, canonicalizes, dualizes, so everything ends up elsewhere than you thought and with different signs.

As a simple example, even the older versions of CVXPY which did not dualize, would write a bound such as ``x>=c`` for a variable ``x`` in the constraint section as constraint of the form ``-x<=-c``, so there would be ``-c`` in ``buc`` rather than ``c`` in ``blx``. Or

[2022-01-11 08:54] aszekMosek commented on #1601
And if you want more stability then consider minimizing ``cp.norm`` instead of ``cp.sum_squares`` - equivalent problem, but often better numerical properties.

[2022-01-11 10:21] JianqiangDing commented on #1601
big thanks for your quick response, really useful advice. Calling MOSEK API directly do shall be the better way to debug infeasibility.

[2022-01-11 10:21] #1601 closed

[2022-01-11 10:23] hzliu opened #1602 "Question: is cvxpy thread-safe?"
I have searched on the web, someone said cvxpy was not thread-safe on 2018. Now is 2022, any changes?

[2022-01-11 15:41] rileyjmurray commented on #1602
We haven't specifically worked on thread safety since then. However, I've used CVXPY in multiple processes by dispatching from Dask. This hasn't produced any problems to my knowledge. See my comment here: https://github.com/cvxpy/cvxpy/issues/1021#issuecomment-655612901.

[2022-01-11 16:43] rileyjmurray commented on #1459
Follow-up. A few comments back I suggested we use sparse Cholesky to determine positive definiteness, but pointed out that SciPy has no such functionality. We could consider using [Eigen's SparseCholesky module](https://eigen.tuxfamily.org/dox/group__SparseCholesky__Module.html). We already rely on Eigen for cvxcore, so this doesn't add a dependency.

@akshayka @SteveDiamond what do you think? If

[2022-01-11 17:49] SteveDiamond commented on #1459
I'd be open to using Eigen in this way.

[2022-01-12 14:55] AdrienCorenflos opened #1603 "SCS solver does not respect matrix cone order constraints"
**Describe the bug**
Hello,

Thanks for the library! I have encountered a case of ignored conic constraints by CVXPY (not sure if this is a SCS or CVXPY pb). The code to reproduce the issue can be found below.

Best,

Adrien

**To Reproduce**
[code]

**Expected behavior**
The ordering should be respected and the matrix `P.value - X.value` should be PSD.

**Output**
If applicable, include program o

[2022-01-12 16:21] #1603 closed

[2022-01-12 23:36] si14 opened #1604 "cvxpy pip package fails to install on M1 with python 3.9"
**Describe the bug**

`cvxpy` pip package fails to install on M1 with python 3.9. The reason seems to be simple: `cvxpy` specifies a version of numpy https://github.com/cvxpy/cvxpy/blob/ac57b1ced831c319ea49de135c4a1c9477ca5292/pyproject.toml#L20 that is not compatible with M1 yet, 1.21.4 being the release they included M1 support in: https://github.com/numpy/numpy/releases/tag/v1.21.4

**To Reprod

[2022-01-12 23:48] SteveDiamond commented on #1604
Relevant https://github.com/cvxpy/cvxpy/issues/1190

[2022-01-14 15:37] bodono opened #1605 "Target quadratic objectives when calling SCS"
SCS has native support for [quadratic objectives](https://www.cvxgrp.org/scs/index.html) now. If a problem has a quadratic objective then solving it directly is often much, much faster than converting to a second-order cone program.

[2022-01-14 15:45] rileyjmurray commented on #1605
Very much in favor of this. It would require creating a new standard form. Right now we have cone programs (linear) and QPs (with only LP-representable constraints). Perhaps a GSoC project, @akshayka @SteveDiamond, @bstellato?

[2022-01-14 21:09] SteveDiamond commented on #563
This implementation might be good to use: https://github.com/jump-dev/Convex.jl/blob/4068f80ec581ae77d8000d7f3fcb0387ce306577/src/atoms/affine/partialtrace.jl

[2022-01-14 22:08] h-vetinari commented on #1604
Note that this works in conda-forge:
[code]
(where we patch out pyproject.toml for pretty much exactly this reason).

[2022-01-14 22:11] h-vetinari commented on #1592
The whole cvxpy-stack for python 3.10 has been installable through conda-forge for [about](https://github.com/conda-forge/cvxpy-feedstock/pull/66) two months now.

[code]

[2022-01-14 22:22] SteveDiamond commented on #563
I converted the Julia to Python. It's definitely faster than the naive implementation above. I will do a PR with this later.
[code]

[2022-01-15 03:01] duguyipiao commented on #563
Can you also take a look at the related function for "partial transpose"?
https://github.com/jump-dev/Convex.jl/blob/4068f80ec581ae77d8000d7f3fcb0387ce306577/src/atoms/affine/partialtranspose.jl

[2022-01-15 15:54] rileyjmurray commented on #582
I believe this is still an issue. The link to PR 1020 in my last comment was just to indicate that it was relevant to the issue, not that it resolves the issue.

[2022-01-15 15:56] rileyjmurray commented on #1602
I think this discussion should be moved to cvxpy's GitHub Discussions.

[2022-01-15 15:56] #1602 closed

[2022-01-15 15:59] rileyjmurray commented on #1579
Closing as out-of-scope for now. Anyone can feel free to follow-up on cvxpy's GitHub Discussions page.

[2022-01-15 15:59] #1579 closed

[2022-01-15 16:18] rileyjmurray commented on #1093
@usamamuneeb if you're interested in porting SDPT3 from Matlab to Python then maybe we can continue on GitHub Discussions. Even though that isn't a cvxpy development task per say, it's something I'd like to facilitate. If the implementation is performant enough then you might even be able to get it included in SciPy.

[2022-01-17 09:02] duguyipiao commented on #563
If you prefer, partial_transpose can be implemented in a similar way:

[code]

For test:
[code]

[2022-01-17 18:54] SteveDiamond commented on #563
Thanks @duguyipiao! I'll add this into my PR (#1606).

[2022-01-17 18:58] SteveDiamond commented on #563
Actually @duguyipiao I have a question. Is partial transpose supposed to be a hermitian transpose, or transpose as above?

[2022-01-18 01:40] duguyipiao commented on #563
Hi @SteveDiamond , it is NOT hermitian transpose, just transpose as above. See for example:
https://en.wikipedia.org/wiki/Peres%E2%80%93Horodecki_criterion

[2022-01-18 06:59] JianqiangDing commented on #1601
@aszekMosek Hi, sorry to bother you again, I want to ask, is '-x<=-c' and 'x>=c' exactly the same in modelling a problem(even they are exactly the same thing theoretically)? does add lower bounds explicitly performs better than modelling all constraints as upper bounds? Can the conversion stabilize the computation in some degree when calling MOSEK as a solver, am I right?

[2022-01-18 07:33] aszekMosek commented on #1601
If the conversion has any numerical effect then it is accidental and solver-dependent. The conversions are for cvxpy's convenience.

MOSEK has its own presolve that will anyway convert everything into some internal problem according to its own rules.

If you would like to discuss something specifically about MOSEK then I suggest https://groups.google.com/g/mosek may be a better place.

[2022-01-20 13:28] julien-klaus commented on #1597
@SteveDiamond thank you for the answer. I just came across it doing some experiments, and was more interested if this is a bug, so somebody can fix it. Thank you both.

[2022-01-20 13:28] #1597 closed

[2022-01-22 01:25] Kreol64 opened #1608 "Linearized absolute value in objective is not dcp"
Hello,

I would like to solve a standard quadratic problem that involves an absolute value term in the objective (basically Markowitz). In order to get rid of the absolute term I linearize it by splitting into two variables:

y = max(w-w0,0)
z = max(w0-w,0)

And then:

w=w0 + y - z and |w-w0| = y + z

cvxpy does  not have issues with (y+z) term, but for some reason it fails to pass the is_dcp() ch

[2022-01-22 16:03] rileyjmurray commented on #1608
Hi @Kreol64, thanks for using CVXPY! The problem is cvxpy can't detect that ``a.T @ (w0 + y - z)`` is linear in ``w`` when you set ``y = cp.maximum(w-w0, 0)`` and ``z = cp.maximum(w0-w, 0)``. You should use the following instead:
[code]
In the future, these kinds of questions are better suited to [our Discord server](https://discord.gg/4urRQeGBCr). Please follow up there if you need additional hel

[2022-01-22 16:03] #1608 closed

[2022-01-22 17:38] #1576 closed

[2022-01-23 18:33] DrunkRandomWalker opened #1609 "failed to run code in flows"
**Describe the bug**
A clear and concise description of what the bug is.
I tried to run incidency_matrix.py  but got ValueError: All the input dimensions except for axis 0 must match exactly.

**To Reproduce**
A [minimal code example](https://stackoverflow.com/help/mcve) that reproduces the bug or unexpected behavior.

https://colab.research.google.com/drive/1B1JVWz8-nyhURckl5EgQtN6N0IPkYsm6?usp=s

[2022-01-23 19:38] adishavit commented on #1594
@SteveDiamond how would one go about implementing that (though not only in the objective would be much better!)

[2022-01-23 20:38] vinas94 commented on #1604
I get the same error. I also run macOS Monterey 12.1.

[2022-01-24 00:03] SteveDiamond opened #1610 "Add documentation for log_normcdf and loggamma."
**Is your feature request related to a problem? Please describe.**
We have piecewise linear approximations for log_normcdf and loggamma. But these are not documented anywhere.

**Describe the solution you'd like**
The atoms should be listed here https://www.cvxpy.org/tutorial/functions/index.html
and in the API reference. We may also want to change ``loggamma`` to ``log_gamma`` for consistency wit

[2022-01-24 00:55] rileyjmurray commented on #1610
I think we should have ``log_gamma`` and have it appear in the web docs. We can keep ``loggamma``, not document it on the website, and raise a warning if it's called.

[2022-01-24 03:18] hailiangliu89 opened #1611 "Much slower QpMatrixStuffing on 1.1.18 compared to 1.1.7"
We noticed the same problem can be compiled much faster on 1.1.7 than the latest 1.1.18, with the same solving time via CPLEX 12.10.

On 1.1.18, it takes more than two minutes to compile, while on 1.1.7 the number is less than 20 seconds.

We suspected if enabling `OpenMP `(introduced in 1.1.11) made a difference, so we run tests on it as well. It did not show any difference on 1.1.18, whether `nu

[2022-01-24 04:00] rileyjmurray commented on #1611
Thanks so much for this detailed information, @hailiangliu89! Would you be able to share the code that produces these problems? If you aren't comfortable with sharing it publicly then you can email me and the other project maintainers. If this is an industrial problem then I'd be happy to sign an NDA if need be. Improving the speed of cvxcore is important for us and we need to investigate performa

[2022-01-24 04:03] hailiangliu89 commented on #1611
I just attached the Problem saved with shelve that can be sent to `.solve()` directly.

[2022-01-24 04:17] rileyjmurray commented on #1585
Sorry for the delay @dcajasn. I looked into this a while ago and noticed that although it's taking a long time for cvxpy to compile the problem, it's *also* taking a long time for MOSEK to solve the problem. (The durations are actually pretty much the same.)

The difficulty with this problem is that the matrix ``D`` is large (T^2 rows and N columns) and dense. Numerical solvers need to perform lin

[2022-01-24 07:52] Wangwuyi123 opened #1612 "when i install with requirements.txt cvxpy>=1.0.21,log error in cvxpy setup command: use_2to3 is invalid."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
A [minimal code example](https://stackoverflow.com/help/mcve) that reproduces the bug or unexpected behavior.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Output**
If applicable, include program output. If reporting a program crash, please include the entire stack

[2022-01-24 16:51] LoveStPaul3 opened #1613 "How could constrain the values of the variable matrix to be in {-1, 1}?"
I need to constrain the values of the variable matrix to be in {-1, 1}:
for example:
`x = cp.Variable(n,integer=True)  `
`n = 2  `
`P = np.random.randint(-5, 5,size=[n,n])  `
`prob = cp.Problem(cp.Minimize(cp.quad_form(x, P) + q.T @ x))  `

How could i constrain the values of the variable `x` to be in {-1, 1}

Thanks a lor!

[2022-01-24 17:40] phschiele commented on #1613
@LoveStPaul3 if you want `x` to be in `{-1,1}`, you can try the following:
`x = 2*(cp.Variable(n, boolean=True) - 0.5)` (note the change to `boolean`).

For shorter questions like this, feel free to check out the [Discord](https://discord.gg/4urRQeGBCr) channel.

[2022-01-24 17:43] phschiele commented on #1612
@Wangwuyi123 the title of the issue says you are trying to install `cvxpy>=1.0.21`, but in the screenshot, it shows `cvxpy==1.0.21`. Allowing for more recent versions would likely fix the issue.

If you need the exact version there are some workarounds you could try, but I suggest trying to upgrade first.

[2022-01-24 17:55] phschiele commented on #1609
@DrunkRandomWalker Could you explain in a bit more detail what you are trying to do?

As mentioned in the issue description, minimal code examples are ideal. I am also not able to open the colab link you have shared. Feel free to join the [Discord](https://discord.gg/4urRQeGBCr) server, as it is easiest to get some initial feedback to usage questions there.

[2022-01-24 18:51] bqi343 opened #1614 "Boolean Variable With No Constraints raises TypeError: G must be a 'd' matrix"
**Describe the bug**

I am trying to solve a mixed-integer program after installing CVXOPT as mentioned [here](https://www.cvxpy.org/tutorial/advanced/index.html#mixed-integer-programs). The following code snippet results in an error:

[code]

It runs without error when I add a constraint though:

[code]

**Expected behavior**
The first code snippet should not result in an error.

**Output**
For t

[2022-01-24 22:36] SteveDiamond commented on #1611
How did you install 1.1.18? I'm pretty sure you need to install from source to use OpenMP. @akshayka is that right?

[2022-01-24 22:38] #1600 closed

[2022-01-24 22:39] #1613 closed

[2022-01-24 23:07] akshayka commented on #1611
That's correct (https://github.com/cvxpy/cvxpy/releases/tag/v1.1.11). @hailiangliu89 has verified that OpenMP is not relevant to this issue, though. (OpenMP was introduced in 1.1.11).

[2022-01-25 00:23] SteveDiamond commented on #1611
Sure, but it explains why he's not seeing any speedup with OpenMP. @hailiangliu89 I tried to use shelf but it's unclear to me how to reconstruct the problem object from your data. Could you please post a script that solves the problem?

[2022-01-25 01:32] hailiangliu89 commented on #1611
`
import shelve
with shelve.open('Problem.prob') as ps: # unzip first and all three files are needed
     prob_shelve = ps['Problem']
prob_shelve.solve(solver=cp.CPLEX, verbose=True)
`

[2022-01-26 22:33] rbassett3 opened #1618 "Minor Typo in Documentation"
The documentation for the `get_problem_data` function includes an example which has a small typo. I suspect most folks who read it will be able to figure it out but it's probably worth fixing.

Here's the example from the [docs](https://www.cvxpy.org/api_reference/cvxpy.problems.html?highlight=get%20problem%20data#cvxpy.problems.problem.Problem.get_problem_data)

[code]

The typo is that, when usi

[2022-01-27 18:46] SteveDiamond commented on #1618
Good catch, thanks!

[2022-01-27 19:17] #1618 closed

[2022-01-28 01:54] allenlawrence94 opened #1619 "GLPK_MI options are not reset"
**Describe the bug**
When solving a problem using GLPK's mixed-integer solver, if you set an option when calling `problem.solve`, this option is never reset; it persists for subsequent calls of `problem.solve`. (With the exception of `verbose` / `msg_lev`, because this is set explicitly in the cvxpy interface)

This is because cvxpy's` GLPK_MI` interface sets options via `cvxopt.glpk.options`, but

[2022-01-28 02:05] allenlawrence94 commented on #1614
Doesn't mean this isn't a bug, but you can get around this by using integer rather than boolean variables:
[code]

[2022-01-28 16:56] Anjali05 opened #1620 "Logical operator support"
Hi,

I have a variable of size n that stores 0 or positive numbers at every index. I want to change all the number > 0 to 1. I tried using logical operators but I do not think there is support for that. Is there any way of doing this using constraint? I cannot decalre this as a boolean variable initially as this variable stores the sum of a column of a matrix in an intermediate step. I can only ch

[2022-01-28 18:05] SteveDiamond commented on #1620
You can create a dummy boolean variable to make a boolean constraint:
``
bool_constraint = [expr == cvxpy.Variable(n, boolean=True)]
``

[2022-01-28 18:07] SteveDiamond commented on #1619
Oops! Is the GLPK (non-MIP) interface bugged in the same way?

[2022-01-28 18:15] SteveDiamond commented on #1614
This is a fairly simple fix. All the needed logic is in the CVXOPT interface (https://github.com/cvxpy/cvxpy/blob/master/cvxpy/reductions/solvers/conic_solvers/cvxopt_conif.py#L152). It should be added to the standard GLPK (non-MIP) interface as well.

[2022-01-28 18:16] SteveDiamond commented on #1611
Thanks! We are looking into your example as part of a general rewrite of the backend.

[2022-01-28 18:38] allenlawrence94 commented on #1614
I'd be happy to implement! Looks like a simple first contribution

[2022-01-28 18:55] allenlawrence94 commented on #1619
Seems the non-MIP interface correctly resets parameters.

There is a related bug with the non-MIP, though: `verbose=False` doesn't turn off the solver output - you have to explicitly set `glpk={'msg_lev': 'GLP_MSG_OFF'}`. Not sure why this is.. might be a cvxopt bug.

Do you have an opinion on which behavior is preferred between passing solver options directly to `Problem.solve` vs passing them as

[2022-01-28 19:04] SteveDiamond commented on #1619
I see, we should fix that bug so ``verbose=False`` works as expected.

``glkpk={...}`` would be more consistent with how we do things for MOSEK and Gurobi.

[2022-01-28 19:48] #1589 closed

[2022-01-28 20:24] allenlawrence94 commented on #1614
Fix: https://github.com/cvxpy/cvxpy/pull/1621

[2022-01-28 21:58] bmeyers opened #1622 "DPP error on large problem"
**Describe the bug**
When canonicalizing a largish QP (length 1e5), putting the problem in DPP form causes kernel death. This is likely due to the number of parameters involved.

**To Reproduce**
[code]

**Expected behavior**
It would be ideal if it were possible to solve this problem DPP form. But, given this limitation, there should be a way to turn off DPP canonicalization, even for DPP complia

[2022-01-28 23:08] SteveDiamond commented on #1594
The way to get started with this is first implementing a standard form for cone programs with quadratic objectives (i.e. #1605). Then the quadratic objective can be allowed to be non-convex. After those two steps, I would add a QCQP standard form (or QCQP + conic constraints). Finally, the quadratic constraints can be allowed to be non-convex.

[2022-01-28 23:21] SteveDiamond commented on #1622
@bmeyers sorry for the confusing behavior. 100% agree that DPP should be easy to disable and should give a warning when the dimensions of the parameters are large (maybe > 1e4 all added together?).

[2022-01-29 00:15] bmeyers commented on #1622
That sounds good to me, thank you!

[2022-01-29 01:17] allenlawrence94 commented on #1619
Sounds good. Will pick this up, but it may be a week or two before I get around to it.

[2022-01-29 20:28] swamiR-coder opened #1623 "what numpy version is supported by cvxpy in python 3.9 ?"
ERROR: Could not find a version that satisfies the requirement numpy<1.20,>=1.19 (from versions: none)
  ERROR: No matching distribution found for numpy<1.20,>=1.19
or is there a  version that is compatible with numpy 1.19.4 - that could be downloaded.

thanks

[2022-01-31 05:59] adishavit commented on #1594
Relevant [link](https://scaron.info/blog/quadratic-programming-in-python.html).

[2022-01-31 09:14] erelsgl opened #1625 "Is it possible to install CVXPY without QDLDL?"
**Is your feature request related to a problem? Please describe.**

The problem is that, when I try to install CVXPY on Windows 10 with the newest version of Python (3.10.2), I get an error when trying to install qdldl (https://github.com/osqp/qdldl-python/issues/19).

**Describe the solution you'd like**

If possible, I would like to be able to install CVXPY without using QDLDL (possibly using ot

[2022-01-31 10:17] phschiele commented on #1625
@erelsgl As a quick fix, you could install `cvxpy-base` (either from pip or conda) if some of the default solvers are giving you trouble during installation. https://www.cvxpy.org/install/index.html#install-without-default-solvers

[2022-01-31 11:31] erelsgl commented on #1625
This solved the problem. Thanks!

[2022-01-31 16:29] #1625 closed

[2022-02-01 05:29] rileyjmurray opened #1626 "Build failures: Python 3.6, and SCIP in some Python > 3.6"
PR #1624 changed our GitHub Actions and some documentation to prepare for semantic versioning. I merged that PR knowing that Python 3.6 builds were failing at the time, because we had reason to believe that the failures were unrelated to the PR's changes.

Since merging we've continued to see failures on Python 3.6. We've also noticed failures on versions of Python other than 3.6 (e.g., failure on

[2022-02-01 05:35] rileyjmurray commented on #1626
Here is the build we saw on PR #1624, where on Python 3.6 failed: https://github.com/cvxpy/cvxpy/runs/5009530636?check_suite_focus=true.

Here's the latest build, where SCIP fails on several Python versions: https://github.com/cvxpy/cvxpy/actions/runs/1776428394

[2022-02-01 20:06] rileyjmurray opened #1631 "Infrastructure to help users to submit benchmarks"
Speeding up cvxcore is a big priority for us. In order for us to know what works "in practice," it's important for us to have access to a wide range of benchmarks. It's not practical for the cvxpy project maintainers (or a summer intern) to generate those benchmarks themselves. I think we should expand on the ``SolverTestHelper`` framework we use in ``test_conic_solvers.py``. Here are three things

[2022-02-01 20:13] SteveDiamond commented on #1631
I 100% agree with 1. and 2. 3. could be great to given additional manpower.

[2022-02-01 20:16] akshayka commented on #1631
3 is super cool!

[2022-02-01 20:20] avshekhvatov opened #1632 "How to speed up GLPK_MI solver with integer variables?"
Hi all, I've written a code which should solve a transportation problem. Size of the problem is following: ~60 warehouses, ~400 routes between them and ~900 orders (roughly, different products). Due to the fact I have "different products", a classic transportation problem converts into ~900 different problems which should be solved at once.

Some parts of my code:

               x = cp.Variable(s

[2022-02-01 20:40] phschiele commented on #1631
@Michael-git96 and I have collected a handful of (still mostly synthetic) benchmarks that were posted in various recent issues. This was done as part of the current initiative of writing a cvxcore prototype in pure Python.

I think it would be great to formalise a framework for such benchmarks and make them easy to extend.

[2022-02-01 20:49] Pallov opened #1633 "partially initialized module 'cvxpy' has no attribute 'Variable' (most likely due to a circular import)"
import cvxpy as cp
import numpy
m = 30
n = 20
numpy.random.seed(1)
A = numpy.random.randn(m, n)
b = numpy.random.randn(m)
x = cp.Variable()
objective = cp.Minimize(cp.sum_squares(A @ x - b))
constraints = [0 <= x, x <= 1]
prob = cp.Problem(objective, constraints)
result = prob.solve()
print(x.value)
print(constraints[0].dual_value)

i wrote the above code from the cvxpy tutorial and "partially ini

[2022-02-02 06:14] adishavit commented on #1631
This sounds awesome.
Most of my models have very very complex construction code - not something I can submit.
I am wondering if, at the point where you (finally) create your `cp.Problem()`, there would be some way to write out (and anonymize) the objective and the constraints in a format that can be submitted as a benchmark.

For the community this would make submissions much easier to make (just

[2022-02-03 16:35] phschiele commented on #1592
@jarrodwilcox The initial issue of this thread where missing wheels for 3.10, which should be resolved.
The error you're seeing now looks similar to #1625, so you could check if that approach also works for you.

[2022-02-03 19:10] SteveDiamond commented on #1633
Try uninstalling cvxpy and reinstalling. If that doesn't work, uninstall numpy and cvxpy, then reinstall numpy first, then cvxpy.

[2022-02-03 19:11] SteveDiamond commented on #1632
You might want to use a more powerful MILP solver like Gurobi or SCIP. Generally you want to pass in a time limit as well. Often finding a good solution is fast, but proving it's optimal is quite slow.

[2022-02-03 19:12] #1626 closed

[2022-02-03 19:12] SteveDiamond commented on #1623
Hmm that's odd. How exactly are you installing cvxpy? What platform etc?

[2022-02-03 19:12] #1614 closed

[2022-02-03 19:17] #1581 closed

[2022-02-04 02:46] rileyjmurray commented on #1572
Re-opening, since there's a TODO here to improve our web documentation.

[2022-02-04 12:56] avshekhvatov commented on #1632
Thank you for the reply! So if i set a time limit then a solver will stop optimizing my problem after this time and save the best solution it's managed to find?

I need to add a parameter like this (now I'm trying to use MOSEK solver)? Have I changed the code correctly? I've found this parameter in MOSEK's [documentation](https://docs.mosek.com/8.0/toolbox/all-parameters.html#dparam.mio_max_time).

[2022-02-05 06:33] dcajasn commented on #1585
Thanks @rileyjmurray, I really like your reformulation. It works very well in medium scale problems. I made another formulation in [Cajas (2021)](https://papers.ssrn.com/sol3/papers.cfm?abstract_id=3988927) based on [Chassein and Goerigk (2015)](https://kluedo.ub.uni-kl.de/frontdoor/deliver/index/docId/3899/file/paper.pdf) work. This formulation works well for large scale problems (T>=1000).

Here

[2022-02-05 11:28] parthb83 commented on #1517
Hey @SteveDiamond! I'm looking forward to work on this issue. Kindly guide me on the process on how to solve this issue.

[2022-02-05 17:43] rileyjmurray commented on #1569
Resolved by #1598, #1617, #1624, and #1628 -- three of which were contributed by the amazing @phschiele!

[2022-02-05 17:43] #1569 closed

[2022-02-05 17:51] rileyjmurray commented on #1585
@dcajasn I think it's safe to say this issue is resolved. Would you be interested in creating an example notebook that shows the performance tradeoffs of the three formulations? If so, then we can leave this issue open until we've merged a pull request from you with the example notebook. If not, then we can go ahead and close this issue.

[2022-02-05 17:52] erelsgl opened #1638 "Import in __init__ blocks the definitions in cvxpy.utilities"
I wanted to write a new kind of objective that, like cvxpy.Objective, inherits Canonical. So I wrote:

[code]

and got an error:

[code]

I think the problem comes from this line:

https://github.com/cvxpy/cvxpy/blob/744a8cb9178f8f101209350fc48887bcf3d2c804/cvxpy/__init__.py#L29

It imports everything from `cvxpy.reductions` into `cvxpy`. In particular, it imports `cvxpy.reductions.utilities`, so

[2022-02-05 17:52] dcajasn commented on #1585
I totally agree @rileyjmurray, thank you very much for your help.

[2022-02-05 17:52] #1585 closed

[2022-02-05 17:57] rileyjmurray commented on #1632
@avshekhvatov I'm not sure if MOSEK's exact semantics regarding the parameter you've mentioned. It might be that the solver only returns "as soon as possible" after the 60 second time limit. So for very large problems that might be longer than 60 seconds. You should ask MOSEK support for those kinds of details. But your general understanding is correct: specifying 60 for that parameter is the inte

[2022-02-05 17:57] #1632 closed

[2022-02-05 18:06] rileyjmurray commented on #1612
Hi @Wangwuyi123. I've changed the title of your issue based on Phillipp's comment. My guess is that changing to only require ``cvxpy>=1.0.21`` will fix your issue. I especially encourage you to upgrade to cvxpy 1.1 as well, since we don't offer installation support for cvxpy 1.0.x anymore. Please post here again if you run into trouble with cvxpy 1.1!

[2022-02-05 18:06] #1612 closed

[2022-02-05 18:11] rileyjmurray commented on #1588
Hi @croci, sorry for taking so long to get back to you. We appreciate you submitting the test problem here. I think it's reasonable for cvxpy to print CVXOPT's internal error message as part of raising the solver failure. I'll leave this issue open until we make that change. I'll also link this issue to #1205 for us to consider in the future.

[2022-02-05 18:13] rileyjmurray commented on #1548
See also #1588

[2022-02-05 18:18] erelsgl opened #1639 "Documentation of "canonicalize"
https://github.com/cvxpy/cvxpy/blob/744a8cb9178f8f101209350fc48887bcf3d2c804/cvxpy/problems/objective.py#L143

[2022-02-05 18:20] rileyjmurray commented on #1520
Closing due to inactivity. If someone else encounters this problem (or a similar one) then please let us know by commenting on this thread. (Happy to re-open, @alfranz, if you still need help.)

[2022-02-05 18:20] #1520 closed

[2022-02-05 18:22] rileyjmurray commented on #1489
@bstellato @phschiele would you like us to make changes on the default tolerances for the 1.2 release?

[2022-02-05 18:43] rileyjmurray commented on #1296
Follow-up this is still an issue in cvxpy 1.1.18, for both the conic interface (https://github.com/cvxpy/cvxpy/blob/744a8cb9178f8f101209350fc48887bcf3d2c804/cvxpy/reductions/solvers/conic_solvers/gurobi_conif.py#L38-L51) and the QP interface (https://github.com/cvxpy/cvxpy/blob/744a8cb9178f8f101209350fc48887bcf3d2c804/cvxpy/reductions/solvers/qp_solvers/gurobi_qpif.py#L30-L42).

[2022-02-05 19:37] adishavit commented on #1296
On a related issue, I recently wrote this in my own code:

[code]

This is for a different Gurobi stopping condition. There are a few more.
I think it would make sense to have some uniform approach to handling early stopping conditions.

[2022-02-05 21:53] croci commented on #1588
Thanks @rileyjmurray . Would it also be possible to have CVXOPT return the current best found solution and/or the last iterate even upon failure and/or when maxit is reached?

I find that for badly scaled KKT systems CVXOPT often manages to find the optimal solution, yet it fails to report convergence and keeps idly iterating before crashing with an error. When this happens the solution/last itera

[2022-02-05 21:55] croci commented on #1548
It would also be great if cvxpy could return the current best found solution and/or the last iterate even upon failure and/or when maxit is reached.

E.g. I find that for badly scaled KKT systems CVXOPT often manages to find the optimal solution, yet it fails to report convergence and keeps idly iterating before crashing with an error. When this happens the solution/last iterate is completelly los

[2022-02-05 22:40] rileyjmurray commented on #563
Resolved by #1606

[2022-02-05 22:40] #563 closed

[2022-02-05 23:11] SteveDiamond commented on #1639
In the canonicalization process, the objective is processed in a way that generates a final objective and a variety of intermediate variables and constraints. canonical_form returns a tuple of final objective and list of generated constraints.

[2022-02-05 23:17] SteveDiamond commented on #1517
Hi @parthb83, glad to hear you're interested! There are two steps to this issue:

1. Add a new atom in ``cvxpy/atoms/elementwise``. You can follow the structure here: https://github.com/cvxpy/cvxpy/blob/master/cvxpy/atoms/elementwise/exp.py
2. Add a rewriting in ``cvxpy/reductions/dcp2cone/atom_canonicalizers``. You can follow the structure here: https://github.com/cvxpy/cvxpy/blob/master/cvxpy/re

[2022-02-06 11:33] parthb83 commented on #1517
Hey @SteveDiamond! So I made the necessary files and changes as you laid down in the above comment. I have named the new atom function as `xexp()`. You can review the files in PR: #1641.

Can you please guide me on how to write unit test for the new atom function? I'm pretty novice in regards to writing the unit tests and any help would be much appreciated :+1:.

[2022-02-06 15:08] phschiele commented on #1638
@erelsgl Relevant discussions around the topic are here:
#1490 / #1493
At the time the `*` import was left it as it came up only as a side effect of another PR.

[2022-02-06 18:57] rileyjmurray commented on #1087
@SteveDiamond @phschiele I came up with a nice approach to this today while working on extending cvxpy's kronecker product atom.  We can identify which column of the constraint matrix corresponds to each entry of a cvxpy Variable by creating dummy constraints that appear as leading diagonal blocks in the constraint matrix. Here's the code for creating a problem with appropriate dummy constraints
[

[2022-02-09 05:38] PTNobel opened #1647 "Feature Request: Warnings or Errors on NumPy functions being called on CvxPy Expressions"
# The Issue

## Existing Errors
Consider:
[code]

On my computer right now, this code crashes the iPython interpreter and raises the following exception with an unhelpful error message:

[code]

## Probably wrong code

Consider the code:
[code]

This creates a NumPy array with dtype=object, which is often not what users want or expect.

# My Solution
## Existing Errors

I'd like to either make thi

[2022-02-09 05:40] SteveDiamond commented on #1647
The error would be great. Didn't know it was possible. Can you point to how you did it in your package?

[2022-02-09 05:59] PTNobel commented on #1647
So AutoDiff actually aims to have these functions to work instead of raise an error.

So NumPy checks for the method `__array_ufunc__` or `__array_function__` and calls them before trying to run its naive implementation of this code. In AutoDiff, I have a dictionary that maps the NumPy functions and ufuncs to my implementation of these methods and then I do a dictionary lookup to effectively have

[2022-02-09 06:01] PTNobel commented on #1647
Section 3.2 of this paper describes the situation in more details: https://dl.acm.org/doi/pdf/10.5555/3408207.3408219

[2022-02-09 06:03] rileyjmurray commented on #1647
Related to Parth's goal of having the functions work as opposed to raising an error: https://github.com/cvxpy/cvxpy/discussions/1645#discussion-3858894

[2022-02-09 06:04] akshayka commented on #1647
I'm okay with an error if Steven and Riley are. It just seemed a little heavy handed, but then again I wasn't aware that the sqrt function errors.

[2022-02-09 06:08] SteveDiamond commented on #1647
@PTNobel maybe you could start the PR with a warning and we'll discuss more there?

[2022-02-09 06:16] PTNobel commented on #1647
@rileyjmurray I'm a bit skeptical that plug-and-play with NumPy code is achievable. With AutoDiff, in order to be compatible with my student's code while teaching Berkeley's Numerical Simulation and Modeling class, I had to end up replacing NumPy functions like `np.zeros`, `np.array`, and replacing the class `np.ndarray` with a function that emulated its constructors behaviour.

This sucked becaus

[2022-02-09 06:19] PTNobel commented on #1647
@SteveDiamond Happy to! If I don't get it done in the next few days, I'll probably have to do it after my quals on the 23rd.

[2022-02-09 06:23] PTNobel commented on #1647
Actually, Steve do you mind if I start with an error for anything which currently errors?

Otherwise we'll end up with something like
[code]

Whereas I think
[code]
might be better?

[2022-02-09 06:27] PTNobel commented on #1647
Also what's a good place to put tests for this?

[2022-02-09 23:58] mlubin opened #1649 "Interface to OR-Tools/PDLP"
[OR-Tools](https://github.com/google/or-tools) (master branch) now includes a C++ implementation of the PDLP algorithm that we presented at NeurIPS 2021 ([paper](https://proceedings.neurips.cc/paper/2021/hash/a8fbbd3b11424ce032ba813493d95ad7-Abstract.html)). In contrast to the Julia prototype used the paper, the C++ implementation is multithreaded and a bit faster in serial. Our experience is that

[2022-02-10 00:53] SteveDiamond commented on #1649
Making an OR-Tools wrapper sounds like the way to go. For reference, here is our documentation on making interfaces: https://www.cvxpy.org/contributing/index.html#solver-interfaces

It's not going to be easy to target a standard form with specialized QP matrices. I would suggest just interfacing as an LP solver.

[2022-02-10 01:25] rileyjmurray commented on #1649
@mlubin LP solvers follow the conic interface. Support for only diagonal quadratics is interesting. We'd need to think a bit more about how we'd integrate that into CVXPY's reduction system.

If you want this functionality available soon then I suggest you go the LP route. We want to release CVXPY 1.2 before the end of Feb. We're also trying to adopt a stable release cadence, so CVXPY 1.3 won't be

[2022-02-10 12:47] Mizux commented on #1649
FYI once we release a new version of python `ortools` package with pdlp support, I'll post it here...

[2022-02-13 15:34] erelsgl opened #1652 "Test fails after fresh install; claims that OSQP is not installed"
**Describe the bug**
After cloning the current repository and installing it in a fresh virtual environment, `pytest` fails. It claims that OSQP solver is not installed, although `pip` shows that it is installed.

I am on Windows 10, Python 3.9.0.

**To Reproduce**

1. clone the repository.

2. create a new virtual environment:

3. Setup cvxpy in development mode:

4. Verify that osqp is installed:

[2022-02-13 15:45] erelsgl opened #1653 "`isort` introduces bugs"
**Describe the bug**
Following the [CONTRIBUTING ](https://github.com/cvxpy/cvxpy/blob/master/CONTRIBUTING.md) guide, I cloned the repository and ran
[code]

As a result, three files were changed:
[code]

After that, when I ran

[code]

I got an error:  `ImportError: cannot import name 'InverseData' from partially initialized module 'cvxpy.reductions' (most likely due to a circular import)`.

**To

[2022-02-13 16:52] rileyjmurray commented on #1653
Thanks for reporting, @erelsgl! @phschiele, can you look into this?

[2022-02-13 17:05] phschiele commented on #1653
The files you see differences in are exaclty the known ones where the required ordering is conflicting with `isort`'s rules.
That's why they are excluded in `pyproject.toml`:
[code]

=> The issue seems to be that your isort config is not picking this up. I've just tried
[code]
on a fresh clone, and for me it does work.
you can check
[code]
In particular, make sure that `directory` is set to your c

[2022-02-13 17:48] erelsgl commented on #1653
In `isort --show-config` I do see these skipped folders:
[code]
But still, `isort .` gives:
[code]

[2022-02-13 17:57] erelsgl commented on #1653
I am running isort from the main repository folder. The keys appear twice;

[code]

[2022-02-13 19:10] erelsgl opened #1654 "Deprecation warnings"
This line:

https://github.com/cvxpy/cvxpy/blob/f93d6b24d2e51033f24e0fff4553e0cbd968d55c/cvxpy/interface/scipy_wrapper.py#L17

raises a warning:

[code]

This line:
https://github.com/cvxpy/cvxpy/blob/0eb50cdfdf1a0590bbb4b6efd8713dbeb52d6c00/cvxpy/reductions/solvers/conic_solvers/scipy_conif.py#L101

raises the following warning:
[code]

I have Windows 10, in a virtual envirnoment based on Python

[2022-02-13 20:02] phschiele commented on #1653
Do you have another `isort` install on your machine? Can you verify:
[code]
You can also reach out via [Discord](https://discord.gg/4urRQeGBCr), that might speed up debugging.

[2022-02-13 20:12] erelsgl commented on #1653
`which isort` does not work, but `gcm isort` gives:

[code]

which is the folder where I installed the virtual environment.

`python -m isort .` gives the same result - it modifies these 3 files.

Is it possible that the problem is that the ignored files use "/" and the files on Windows use "\\"?

[2022-02-13 20:22] phschiele commented on #1653
@erelsgl That could be possible, but I would be surprised if that was the cause. You can try changing it locally, though.

Can you alternatively try the following:
[code]

[2022-02-14 00:56] #457 closed

[2022-02-14 04:29] rileyjmurray opened #1656 "Addressing kron with Parameters in CVXPY 1.1 and 1.2"
PR #1643 updated cvxcore so that cvxpy's "kron" atom could accept non-constant values in either argument. While testing the proposed changes we identified a very specific scenario where cvxcore could compile ``kron(param, var)`` incorrectly:

There are two options for how to handle this for CVXPY 1.1:

1. The small fix is to start the global ID counter at 1 instead of at 0. This small fix has been

[2022-02-14 09:32] erelsgl commented on #1653
I changed the forward slashes to back slashes in `extend_skip`. This did not help, but after running `isort .` again, another thing happened: in many other files, a trailing comma was deleted. For example, in cvxpy/expressions/leaf.py, line 34 changed from:
[code]
to
[code]

This does not cause any harm, but it is strange.

On the other hand, `pre-commit run -a` does work as expected: it skips the

[2022-02-14 11:35] erelsgl opened #1657 "Deprecation warning:"
This line:
https://github.com/cvxpy/cvxpy/blob/0eb50cdfdf1a0590bbb4b6efd8713dbeb52d6c00/cvxpy/reductions/solvers/conic_solvers/scipy_conif.py#L101

raises the following warning:
[code]

[2022-02-14 11:36] #1657 closed

[2022-02-14 11:37] erelsgl commented on #1657
Merged with issue 1654

[2022-02-14 19:03] bstellato commented on #1489
For now it might be a good fix. We already fixed in the [develop-1.0](https://github.com/osqp/osqp/tree/develop-1.0) branch but it will likely be released after cvxpy 1.2.

[2022-02-15 05:47] dizhouwu opened #1658 "Add feature to express conditional variable as Constraint"
**Is your feature request related to a problem? Please describe.**
I would want to add the following type of constraint. If written in Python, it should be sum([_ for _ in x if _ > 0.05]) <= 0.5
variables = cp.Variable(len(x))
constraints = [cp.max(variables)<=0.1,
               cp.sum(variables)==1,
               # sum([_ for _ in x if _ > 0.05]) <= 0.5
               variables>=0, # long only

[2022-02-16 11:39] Pallov commented on #1633
For me, it was solved.

On Wed, Feb 16, 2022 at 10:02 AM ProgramAlchemist ***@***.***>
wrote:

[2022-02-17 10:34] qiaoweili opened #1661 "Cannot solve game-cross DEA (variable returns None)"
I was trying to use the solver to do DEA game cross-efficiency evaluation (based on the algorithm described in part 2 of this [paper](https://www.sciencedirect.com/science/article/pii/S0957417418303877)). However the solver often returns None for cp.Variables. On what occasions will this happen?

The data used is :
[data_norm.xlsx](https://github.com/cvxpy/cvxpy/files/8087724/data_norm.xlsx)

The

[2022-02-17 10:48] phschiele commented on #1661
Hi @qiaoweili !
the variable values are initially set to `None` and populated after `solve()`. However, this is only true if `solve()` results in a status where a solution is present. You can check this by printing `prob.status`.
You might also want to add `solve(verbose=True)` to get further insights.

[2022-02-18 06:39] SteveDiamond commented on #1656
I think it's fine to push DPP for kron as a bugfix. In terms of patches, I would suggest option 2.

[2022-02-18 06:45] akshayka commented on #1656
I agree with Steven; eventual bug fix + option 2 sound good.

[2022-02-18 09:07] phschiele commented on #1656
+1 from me for this approach as well. This will give a nice opportunity to test the process of pushing fixes to multiple supported branches.

[2022-02-18 10:00] ProgramAlchemist commented on #1633
I apologize for making a mistake that I changed the name of the file to `cvxpy.py`. Everything is ok after I rename the file.
So shamed about this mistake @_@

[2022-02-18 14:59] #1633 closed

[2022-02-19 15:21] rileyjmurray commented on #1610
We ended up keeping ``loggamma`` since it's the SciPy convention. Documentation added in #1659.

[2022-02-19 15:21] #1610 closed

[2022-02-19 15:22] rileyjmurray commented on #1623
Closing due to inactivity.

[2022-02-19 15:22] #1623 closed

[2022-02-19 16:12] rileyjmurray commented on #1604
I'd like for us to get this resolved before the end of the month. PyPA documentation says we can calculate build dependencies dynamically: https://pip.pypa.io/en/stable/reference/build-system/pyproject-toml/#build-time-dependencies. I'll start looking into this.

[2022-02-19 19:26] vkumar-ucd opened #1666 "Support complex parameters in DPP problems"
I am trying to parameterize a CVXPY program as I need to repeatedly solve the problem, but I noticed that when my parameters are complex numbers, CVXPY models the problem in each iteration.

[code]

minimize𝐱‖𝐀𝐱−𝐛‖+|𝜸𝐱|,

**Please note: I don't need to solve this problem repeatedly, but I am forcefully doing so to check whether I can consider 𝜸 as a parameter or not?**

[code]

What I see from ver

[2022-02-19 20:04] avyavkumar opened #1667 "CVXPY unable to detect MOSEK"
**Describe the bug**
I have followed the instructions as mentioned [here](https://docs.mosek.com/latest/install/installation.html) for general setup of Mosek in Linux (ie: unpacking the folder into a folder within the same directory called `solver` and adding this to `$PATH`). I want to run Mosek in Google Colab for an optimisation problem.

**To Reproduce**
My code is as follows -

[code]

**Expe

[2022-02-20 14:27] avyavkumar commented on #1667
The directory structure looks like this -

[code]

[2022-02-20 19:06] SteveDiamond commented on #1667
Did you install the mosek python interface as described on the mosek website? https://docs.mosek.com/latest/pythonapi/install-interface.html

[2022-02-21 06:43] aszekMosek commented on #1667
In Google Colab you can just do ``!pip install Mosek``.

[2022-02-22 02:17] lemon234071 commented on #195
Same problem and I have 3T memory on Linux.

    m = 2000
    n = 2000
    np.random.seed(1)
    A = cp.Parameter((m, n))
    b = cp.Parameter(m)
    A.value = np.random.randn(m, n)
    b.value = np.random.randn(m)
    # A = np.random.randn(m, n)
    # b = np.random.randn(m)

    # Construct the problem.
    x = cp.Variable(n)
    objective = cp.Minimize(cp.sum_squares(A @ x - b))
    constraints

[2022-02-22 03:42] SteveDiamond commented on #195
Does it work if A and b aren't parameters? There are issues now with large parameters. We will very soon add functionality to help, but for the moment just try making A and b constants.

[2022-02-22 15:56] avyavkumar commented on #1667
I can confirm that `!pip install mosek` seems to fix the issue.

A bit strange considering that I am not using the `pip` distribution, rather I am installing my own version with my own license. So, essentially, even while installing the academic licensed version, `pip install mosek` seems to be a pre-requisite.

[2022-02-22 15:56] #1667 closed

[2022-02-23 01:02] qiaoweili commented on #1661
Hi @phschiele !
Thanks for your suggestion! It seems that the `status` is `infeasible`. Since I'm solving the same problem multiple times with different data, the solver suggests using parameters. I'm not quite sure what this `parameter` means, is it `cp.Parameters` or parameter in `solve`? I am a bit confused where to find an example.

The following prints the detail of an `infeasible` example.
[

[2022-02-23 05:00] rileyjmurray commented on #1661
@qiaoweili  the reference to "parameters" here means Parameter objects defined by ``cp.Parameter``. If you need to change some constants which appear in your problem from one run to the next then it's worth giving Parameter objects a shot. They have the potential to reduce "compilation time" for moderate-scale problems.

[2022-02-23 05:18] rileyjmurray commented on #1666
Hi @vkumar-ucd, thanks for your question and sorry for not getting back to you earlier.
I've slightly modified your code to make our investigation easier:
[code]

When I use that code with ``complex = False`` I get the following output at the first call to prob.solve().
[code]
Then, calls to ``prob.solve()`` after updating ``gamma``'s value results in output like:
[code]
The compilation log mentio

[2022-02-23 17:10] lochsh opened #1668 "Utils.cpp:mat_vec_mul can be 4000% faster without SparseMatrixBase::pruned() call"
**Describe the bug**
We have a convex optimisation problem we're solving with cvxpy. Depending on our inputs, we sometimes get unexpectedly long compilation times.

After doing some investigation, I tried applying this diff to `cvxcore`:

[code]

For the slow example I was investigating, compilation time went down from 55 seconds to 1.26 seconds. The solution is identical.

For some other inputs t

[2022-02-23 17:42] phschiele commented on #1668
@lochsh A minimum working example would be great!
I'm also not sure why the pruning is making it slower.
Would it be possible to do this outside the loop?

[2022-02-23 17:45] lochsh commented on #1668
The loop is a little deceptive given this line:

https://github.com/cvxpy/cvxpy/blob/295f5720a2cbf005119acd18b16a943a4bd41ff0/cvxpy/cvxcore/src/Utils.cpp#L24

So the contents of the loop only ever executes once. Hence trying to move expensive things out of the loop is probably not helpful :(

I'll see if I can get a minimum example.

[2022-02-23 17:46] lochsh commented on #1668
Does cvxpy have any benchmarking tests? I would be interesting to see if removing the prune causes any tests to take longer.

If, say, it only made some tests faster and made no difference to others, then we could just remove it. But this is probably wishful thinking.

[2022-02-23 18:37] phschiele commented on #1668
@lochsh Extending the benchmarks is currently in progress, that's why the MWE would be very valuable :)

Feel free to reach out via [Discord](https://discord.gg/4urRQeGBCr), perhaps I can help you figure out the expression that's causing the performance issues. From that, it could be easier to work out an MWE.

[2022-02-24 16:11] akshayka commented on #1666
Our implementation for extracting the ASA maps doesn't support complex paramters:

https://github.com/cvxpy/cvxpy/blob/master/cvxpy/reductions/solvers/solving_chain.py#L171-L172

We should document this here: https://www.cvxpy.org/tutorial/advanced/index.html#disciplined-parametrized-programming

[2022-02-25 17:27] lochsh commented on #1668
I wonder if a practical solution to this might be being able to pass an optional argument to `Problem`'s initialiser for whether to use sparse matrices.

It could default to `True`, meaning no existing client code will see a behaviour change, but anyone with problems like mine can chose not to use sparse matrices.

I'll do some brief investigation to see how feasible propagating such an argument w

[2022-02-26 01:11] SteveDiamond commented on #1668
@lochsh do we have evidence the pruning is that important even for spare matrices? We might have added it because it seemed like a good idea, but as @phschiele has said we are still building out a problem benchmark suite to evaluate the performance characteristics of the implementation.

[2022-02-26 01:17] lochsh commented on #1668
I certainly don't have any evidence that it's useful for sparse matrices. The lack of benchmarking does make it a bit tricky. Maybe we can try a larger problem with sparse matrices to see whether there's any benefit.

At least removing it is a very simple change code-wise if we do decide to do it.

[2022-02-26 01:43] ericlux opened #1671 "DCP error for LP with one parameter, which passes is_dcp(dpp=True))"
I have constructed a minimal breaking example for an issue I have been running into trying to use parameters. In fact, I will just use the example from the cxvpy [website](https://www.cvxpy.org/tutorial/advanced/index.html?highlight=parameter) section on parameters

[code]

As stated on the website, this prints "True" and "True". However, if I instantiate the problem by setting the gamma parameter

[2022-02-26 02:00] SteveDiamond commented on #1671
@ericlux what version of cvxpy are you using? I actually don't get any error when I run this.

[2022-02-26 02:14] ericlux commented on #1671
This was running 1.1.13. It looks like with 1.1.18 it goes away. Sorry, I didn't even realize I was on an out of date installation!

[2022-02-26 16:40] Hadi2525 opened #1672 "Using cvxpy.min / cvxpy.max"
I am trying to work around the following gp in using cvxpy.
[code]
But I get the following error:
[code]
I am not sure why this error is raised as the description is not related to the constraint.

I looked at the documentation to find an example to be able to handle this but would appreciate if this feature can be included.

[2022-02-26 19:31] rileyjmurray commented on #1672
Hi @Hadi2525, that error is strange indeed. What version of cvxpy are you running?

[2022-02-26 19:34] Hadi2525 commented on #1672
Hi @rileyjmurray , it is 1.1.18.

[code]
This is the complete error.

[2022-02-26 20:13] SteveDiamond commented on #1671
No problem, glad it's fixed!

[2022-02-26 20:13] #1671 closed

[2022-02-27 04:47] Hadi2525 commented on #1672
Thank you for mentioning that. In the case that this is not a DGP problem, is it because the min constraints are not of DGP type? Or should I remove the `gp` argument from the solver?

[2022-02-28 00:02] rileyjmurray commented on #1672
The constraints don't meet the criteria for being DGP. At first look, it seems they are very nonconvex (by which I mean, I think the problem will remain nonconvex under typical changes of variables). I recommend you familiarize yourself with the DGP documentation: https://www.cvxpy.org/tutorial/dgp/index.html or to ask for help on our Discord.

For the purposes of this issue, this is resolved by #

[2022-02-28 00:02] #1672 closed

[2022-02-28 00:02] rileyjmurray commented on #1654
Resolved by #1665 and #1670.

[2022-02-28 00:02] #1654 closed

[2022-02-28 00:07] rileyjmurray commented on #1604
This should be resolved by #1670. I'll post on the Discord asking some M1 owner to verify. Ping @si14 @vinas94.

[2022-02-28 00:30] rileyjmurray commented on #1164
Two updates:

1. If you use SCS 3.X with CVXPY 1.1.18 or higher then we'll never make double calls to SCS. We really recommend you use SCS 3.X if at all possible.
2. If you use SCS 2.X any version of CVXPY, you can disable the re-solve behavior with the method suggested by @plusk01. We've also added a warning message when we re-solve a problem.

Sorry for taking so long to address this!

[2022-02-28 00:30] #1164 closed

[2022-02-28 00:32] rileyjmurray commented on #582
#1670 made good strides in this area. Our web docs will be more informative starting with CVXPY 1.2.

[2022-02-28 00:53] rileyjmurray commented on #1517
Resolved by #1641.

[2022-02-28 00:53] #1517 closed

[2022-02-28 04:52] rileyjmurray commented on #1340
Resolved by #1669.

[2022-02-28 04:52] #1340 closed

[2022-02-28 04:53] rileyjmurray commented on #1332
Follow-up: we just resolved #1340 with PR #1669. I'll leave this issue open since technically "performance issues with DPP problems" isn't resolved.

[2022-02-28 04:54] rileyjmurray commented on #1622
Resolved by #1669. Thanks for reporting, @bmeyers!

[2022-02-28 04:54] #1622 closed

[2022-02-28 18:00] patziyiwang opened #1674 "Error after a fixed number of cvxpy runs"
**Describe the bug**
I'm solving a SDP several times with changing parameters. The optimization fails after a certain number of runs but succeeds if I just ignore the error and run the same optimization one more time. I have tested the failed optimization parameters separately and they work fine.

**Output**
![image](https://user-images.githubusercontent.com/8838975/155618279-1bc2175e-e6ba-4403-87

[2022-02-28 18:03] alirezaqazavi commented on #1574
@[SteveDiamond](https://github.com/SteveDiamond)
Hello
I force google colab to use cvxpy 0.4.5
but by running example code in[https://github.com/cvxgrp/qcqp]( https://github.com/cvxgrp/qcqp) and I get this error:
`
AttributeError: 'LinOp' object has no attribute 'shape'`

please guide me to remove this error and work with qcqp
many thanks

[2022-02-28 20:48] SteveDiamond commented on #1674
Try running it with the solve option ``warm_start = False``. That should be the same as running each problem in total isolation.

[2022-03-01 08:37] aszekMosek commented on #1674
It is an issue with repeatedly calling eigsh in scipy that has been around for a while. https://stackoverflow.com/questions/63960214/cvxpy-failing-randomly-on-basic-quadratic-problem#comment113142851_63960214

[2022-03-01 14:55] lochsh commented on #1668
I thought I'd have a look at the commit that added the pruning. This comment on the PR that included it https://github.com/cvxpy/cvxpy/pull/1255#issuecomment-788368768 shows some speed increases, but:

* they are from making several changes, not just the pruning
* I get the same time on `test_benchmarks.py` whether or not I have the pruning

So I have to assume the performance gains described in t

[2022-03-01 16:16] akshayka commented on #1668
My understanding is that pruned removes very tiny elements from a sparse matrix. This might have been useful when I was working with user code out in the wild; but if a problem is well specified and scaled its data shouldn't include very tiny elements.

When I added this change I looked only at test_benchmarks.py and the user code I previously mentioned, and I didn't see any regressions, so I incl

[2022-03-01 16:19] lochsh commented on #1668
If other support this I'm happy to create a PR.

[2022-03-01 18:02] rileyjmurray commented on #1668
@akshayka if the purpose of pruning was to make cvxpy more robust "in the wild" then I think it makes sense to remove it. Speed is a bigger issue than numerical solver problems when it comes to people using cvxpy. I also think it's better to leave those decisions to solvers.

[2022-03-01 18:10] SteveDiamond commented on #1619
Did we fix this? @rileyjmurray @allenlawrence94

[2022-03-01 23:11] #1668 closed

[2022-03-01 23:42] rileyjmurray commented on #1604
I can confirm that this cause of the build failure was resolved by direct commit https://github.com/cvxpy/cvxpy/commit/c31e03c66aa6f77926bd7ff44621c57df38b6c4c. Basic ``pip install .`` can still fail on M1, but this is for reasons that relate to cvxpy's dependencies (OSQP and ECOS). I'll update the web documentation to mention how to overcome those issues.

[2022-03-02 00:47] rileyjmurray commented on #1190
You should no longer need to use the ``--no-use-pep517`` flag if you're building CVXPY 1.1.19 (or newer in the 1.1.x release series) or anything in the 1.2.x release series.

I'll leave this issue open so it's easy for people to find until installation becomes more seamless.

[2022-03-02 00:56] rileyjmurray commented on #1604
Web documentation has been updated in direct commit https://github.com/cvxpy/cvxpy/commit/40caf4f4125d8329184575d12965782244852cef. Closing this issue for now. We can re-visit it if someone finds a problem with our ``pyproject.toml`` file, but otherwise M1 build issues should be reported and discussed on #1190.

[2022-03-02 00:56] #1604 closed

[2022-03-02 01:10] rileyjmurray commented on #1619
@SteveDiamond no, it's still a problem.

[2022-03-03 19:38] SteveDiamond opened #1678 "cumsum axis bug"
**Describe the bug**
``cumsum(x, axis=1)`` breaks when ``x`` has shape ``(n, 1)``. Similarly, ``cumsum(x, axis=0)`` breaks when ``x`` has shape ``(1, n)``. This bug should be easy to fix by adding special cases to https://github.com/cvxpy/cvxpy/blob/master/cvxpy/reductions/eliminate_pwl/atom_canonicalizers/cumsum_canon.py

**To Reproduce**
[code]

**Expected behavior**
The problem should solve wit

[2022-03-03 22:39] #1674 closed

[2022-03-04 17:06] gdragotto opened #1679 "Getting multiple optimal and sub-optimal solutions"
**Is your feature request related to a problem? Please describe.**

Hello,

I recently started using CVXPY, specifically, I've been using it to solve mixed-integer programs.
Many solvers (e.g., Gurobi, Xpress, CPLEX) output the optimal solution plus any other optimal/sub-optimal solution that has been encountered in the branch and cut tree.

Briefly skimming through google and the documentation, I

[2022-03-04 19:55] parthb83 commented on #1678
Hey @SteveDiamond! So I added the following case and it seems to run the sample code given by you without showing any error and giving the correct output. Do tell if it is correct or not and mention any change that it may require.
The link to PR: #1680.

[code]

[2022-03-04 21:09] rileyjmurray commented on #1679
This isn’t something we currently support. One problem is that CVXPY
variables can only take on one value at a time. You can maybe get around
that by having CVXPY cache the MIP solutions and then running the reduction
chain backwards (as if the selected solution was the only solution that
ever existed).

On Fri, Mar 4, 2022 at 9:06 AM Gabriele Dragotto ***@***.***>
wrote:

[2022-03-05 17:32] rileyjmurray commented on #1678
@SteveDiamond @parthb83 this wasn't fully resolved. An analogous bug was in ``cummax``. I've implemented the same fix on the PR for CVXPY 1.1.19.  @parthb83 please make another PR which incorporates those fixes (and updates tests for cumsum).

[2022-03-05 18:32] parthb83 commented on #1678
Hey @rileyjmurray! I've made the changes suggested by you and opened the PR #1683 for the same. Kindly review the PR.

[2022-03-05 19:04] rileyjmurray commented on #1678
Resolved by #1683 :)

[2022-03-05 19:04] #1678 closed

[2022-03-06 05:26] #1649 closed

[2022-03-07 18:23] Wu-Chenyang opened #1685 "`fracify` fails to work"
**Describe the bug**
The function `fracify` function `utilities/power_tools.py` seems to have some bugs. It fails to convert a weight vector into a dyadic weight vector.

**To Reproduce**
[code]

**Expected behavior**
Normally, it should return a proper constraint.

**Output**
[code]

**Version**
 - OS: Ubuntu 20.04
 - CVXPY Version: 1.1.18

**Additional context**
Add any other context about the p

[2022-03-08 00:40] rileyjmurray opened #1686 "Runtime errors on import with 1.2.0-dev"
If you have an old enough version of ortools, then cvxpy raises uncaught runtime errors on import
[code]
We need to fix before releasing today

[2022-03-08 00:45] SteveDiamond commented on #1686
Looks like we should require or tools 9.3?

[2022-03-08 00:45] rileyjmurray commented on #1686
I got ahead of myself. It's just warning. The warning is raised in cvxpy/reductions/solvers/solver.py
[code]

[2022-03-08 00:45] #1686 closed

[2022-03-08 00:45] rileyjmurray commented on #1686
@SteveDiamond I made a comment just after yours posted. False alarm!

[2022-03-08 02:29] rileyjmurray commented on #1685
The problem is that [dyad_completion](https://github.com/cvxpy/cvxpy/blob/df238d99a885d91fd2c0eacc3b9b4d2ff6c3c261/cvxpy/utilities/power_tools.py#L404) doesn't always work.
[code]
I've fixed it and made a PR.

[2022-03-08 04:29] Wu-Chenyang commented on #1685
It still fails to work in some instances. I list some of them below,
[code]

[2022-03-08 07:35] rileyjmurray commented on #1685
@Wu-Chenyang thanks for following-up. Can you please try the change in PR #1688?

[2022-03-08 07:56] Wu-Chenyang commented on #1685
Great work! It works perfectly right now. Thank you 👍

[2022-03-08 08:03] Wu-Chenyang commented on #1685
Oh, it fails again when the denominator is too large. This could happen even when the input integer is relatively small. Is it solvable?

[2022-03-08 08:07] rileyjmurray commented on #1685
You can increase ``max_denom``, other than that there is no magic bullet as of now. (There are potential ways to make it more robust but we don't have the manpower for that right now.)

[2022-03-08 08:17] Wu-Chenyang commented on #1685
Is there a potential downside of using a large `max_denom`?

[2022-03-08 08:21] rileyjmurray commented on #1685
I believe it will result in larger optimization problems (i.e., more variables) and potentially numerical inaccuracies with the solver. You can definitely give it a shot, but you should make sure to solve with ``verbose=True`` and inspect the solver output. It would also be good to manually check constraint violations.

[2022-03-08 08:37] Wu-Chenyang commented on #1685
I just had a try, and everything seems alright. Thanks!

[2022-03-08 09:46] rileyjmurray commented on #1685
Resolved by #1688

[2022-03-08 09:46] #1685 closed

[2022-03-08 11:58] Michael-git96 commented on #1619
This issue should be fixed now with PR #1684 , so I think it can be closed.

[2022-03-10 04:06] vkumar-ucd commented on #1666
@akshayka @rileyjmurray Thanks for your comments. What I am confused that if using complex-valued parameters doesn't support ASA maps, what is the need for allowing parameters to be complex-valued?

[2022-03-10 04:16] SteveDiamond commented on #1666
Eventually complex-valued parameters will support ASA maps. Adding that functionality was more than we could handle at the time ASA was introduced.

[2022-03-10 04:24] vkumar-ucd commented on #1666
@SteveDiamond Makes sense. Thanks a lot for the clarification. Hope that this new feature will be supported soon.

[2022-03-10 05:58] rileyjmurray commented on #1666
@vkumar-ucd we'll do our best! I've re-opened this issue so it's clear that this is something we would like to do in the future.

[2022-03-10 06:07] r-barnes opened #1690 "Compiling with assertions causes issues"
**Describe the bug**
Compiling with assertions enabled leads to compile-time and run-time errors!

**To Reproduce**
I modify `setup.py` so that I has the following extension code:
[code]
setuptools(?) seems to compile code with the `-DNDEBUG` flag on by default. This eliminates all assertions before compilation begins. assertions make us safe, so we should probably include them.

The introduction

[2022-03-11 03:03] SteveDiamond opened #1695 "Flatten and vec don't support the "order" argument"
**Describe the bug**
``expr.flatten()`` and ``vec(expr)`` should support the ``order`` argument, to choose C versus Fortran ordering.

**To Reproduce**
[code]

**Expected behavior**
The behavior should be the same as ``reshape(expr, (expr.size), order=...)``.

**Output**
If applicable, include program output. If reporting a program crash, please include the entire stack trace.

**Version**
 - OS:

[2022-03-11 03:35] justinberi opened #1696 "`prod` reports unexpected curvature"
**Describe the bug**
`prod` reports unexpected curvature.

For the below case we have a difference in the reported curvature.

**To Reproduce**
[code]

[code]

**Expected behavior**
Expected `prod(X)` to be interpreted as X[0]*X[1] which would give the same curvature as the first example above.

**Version**
 - OS: Ubuntu 20.04
 - CVXPY Version: 1.2

**Additional context**
Not sure if this is due t

[2022-03-11 03:41] justinberi commented on #1696
`prod` is also undocumented in the user guide under atomics. https://www.cvxpy.org/tutorial/functions/index.html#

[2022-03-11 04:50] r-barnes commented on #1690
@SteveDiamond : I've been able to fix the compilation warnings/issues, but I'm still not sure why I'm getting failures on
[code]
Any info you can provide about what might be going wrong for this to trigger would be helpful!

[2022-03-11 23:21] PTNobel commented on #1647
Closed by #1648

[2022-03-11 23:21] #1647 closed

[2022-03-11 23:28] PTNobel opened #1700 "Implement `cp.Expression.__rpow__`"
This would allow constraints or objectives of the form `a**x`.

In #1648, we discovered that `__rpow__` is missing. @rileyjmurray proposed a quick sketch of how to implement it:

[code]

I should have time to open a pull request in the next two or three weeks with some tests and this implementation, but wanted to open an issue first to see if there's any other cases to consider or objections.

I'm

[2022-03-11 23:32] SteveDiamond commented on #1696
``prod`` is documented as a DGP atom (https://www.cvxpy.org/tutorial/dgp/index.html#scalar-functions). You've found a bit of an odd edge case. It is true that a product of two positive terms is quasi concave, but general products of ``n`` terms (which is what ``prod`` is for), are not quasiconcave. See below:
[code]
Output:
[code]

[2022-03-11 23:33] SteveDiamond commented on #1700
Definitely worth implementing this, but you need to consider the case where ``other`` is a parameter.

[2022-03-11 23:41] PTNobel commented on #1700
Question: do parameters have a > 1 constraint I could consider in picking the monotoncity?

[2022-03-11 23:45] SteveDiamond commented on #1700
Sadly no, parameters have the same attributes as variables, listed here: https://www.cvxpy.org/tutorial/advanced/index.html#attributes

On the other hand, we have discussed adding a ``range`` attribute to restrict things to an interval.

[2022-03-12 06:48] pqrz opened #1701 "Detect/Debug Numerical Instability with Cvxpy"
**Is your feature request related to a problem? Please describe.**
Our large-scale optimization problems sometimes get numerical instable. So, we want to repair those optimization problem, but we do not know - "what causes numerical instability?". So we fail to repair our problem and this is the pain-point.

**Describe the solution you'd like**
Some tool in Cvxpy answers:
 1. Is the problem numeri

[2022-03-12 10:02] keithbriggs opened #1702 "Preferred open source mixed-integer solvers in CVXPY (for quasiconvex problems)"
https://www.cvxpy.org/tutorial/advanced/index.html says "The preferred open source mixed-integer solvers in CVXPY are [GLPK_MI](https://www.gnu.org/software/glpk/), [CBC](https://projects.coin-or.org/Cbc) and [SCIP](https://scip.zib.de/)".

https://pypi.org/project/cbcpy/ says "pip install cbcpy".   But that command gives:

[code]

So is CBC really supported?

Moreover, this script:

[code]

gives

[2022-03-13 01:08] mkoeppe commented on #1702
For CBC, you need `cylp` - https://www.cvxpy.org/install/index.html?highlight=cylp#install-with-cbc-clp-cgl-support

[2022-03-13 09:36] keithbriggs commented on #1702
Thanks - cbc now works.   I don't know how pypi can advertise pip commands which don't work.   It's an automated system - doesn't it check for errors like that?

I've still got the SCIP error.

[2022-03-13 19:52] mkoeppe commented on #1265
+1

[2022-03-14 18:06] mkoeppe opened #1704 "Link to MathOptInterface.jl"
**Is your feature request related to a problem? Please describe.**
Revisiting #233, Julia's [MathOptInterface](https://github.com/jump-dev/MathOptInterface.jl) provides an interesting route to interfacing some new solvers. This includes solvers written in Julia, and solvers for which well-maintained Julia interfaces exist, for example [https://github.com/jump-dev/Cbc.jl Cbc.jl].

**Describe the so

[2022-03-14 18:26] mkoeppe commented on #1649
This would be very useful and could among other things provide a robust replacement for the current, `CyLP`-based CBC interface.

[2022-03-14 20:52] sarahboufelja opened #1706 "Warning messages: have mixed-integer quadratic programming example recommend SCIP"
**Describe the bug**
Using cvxpy 1.3.0 to solve the same example of MIP shown on the main webpage https://www.cvxpy.org/examples/basic/mixed_integer_quadratic_program.html. The code fails though with the following error: SolverError:

                    You need a mixed-integer solver for this model. Refer to the documentation
                        https://www.cvxpy.org/tutorial/advanced/index.

[2022-03-14 20:56] SteveDiamond commented on #1706
Are you certain GLPK is installed? Try running ``from cvxopt import glpk``.

[2022-03-15 00:33] rileyjmurray commented on #1700
@PTNobel  This expression can't be DPP when ``other`` is a Parameter. The rewriting with "exp" requires taking a log, and DPP doesn't allow nonlinear functions of Parameters:
[code]
The implementation would need to take the same approach as ``kron``, which suitably coerces a Parameter into a Constant  at canonicalization time.

[2022-03-15 00:38] PTNobel commented on #1700
I'm not familiar enough with DPP rules to answer this, but would it be possible if we wrote `p**x` in terms of something other than `exp(x * log(p))` to properly parameterize?

I think this is a question of whether a cone program can be affinely related to the parameters values when only using SCS's cones?

[2022-03-15 00:39] rileyjmurray commented on #1706
@SteveDiamond @sarahboufelja the problem is that GLPK doesn't support nonlinear problems. You should install SCIP if you want to solve a mixed-integer nonlinear problem with an open-source solver. See below for how I update SCIP on my machine:

[code]
Then it's very easy to solve the problem
[code]
Let us know if you have any further problems!

[2022-03-15 00:41] rileyjmurray commented on #1706
Re-opening since others might run into this problem. We should update the page

https://www.cvxpy.org/examples/basic/mixed_integer_quadratic_program.html

[2022-03-15 00:44] rileyjmurray commented on #1700
I'm confident that there is no formulation that's linear in ``p``, and so no way to make DPP work for this situation. @PTNobel take a look at ``cvxpy/atoms/affine/kron.py`` for how it handles parameters when checking DCP/DPP rules.

[2022-03-15 00:55] rileyjmurray commented on #1701
This is, unfortunately, far beyond the scope of cvxpy. Some commercial solvers have features to help with this. However, even then it's not an exact science.

The best we could do is help propagate information from a solver diagnostic back to the cvxpy model. It would be difficult to implement such a feature even for the simple solver interfaces. Some of our interfaces to commercial solvers (like

[2022-03-15 01:02] PTNobel commented on #1700
Awesome. Will do. Thanks Riley!

[2022-03-15 01:07] rileyjmurray commented on #1704
Hi @mkoeppe! It might actually be straightforward to do this. Anyone could try prototyping their own solver using CVXPY's custom-solver interface: https://github.com/cvxpy/cvxpy/pull/1172.

Here's an example of someone who made their own solver interface: https://github.com/jurasofish/mip_cvxpy/blob/develop/mip_cvxpy/__init__.py. They even integrated their solver into our testing framework with ve

[2022-03-15 01:14] rileyjmurray commented on #1695
Actually @SteveDiamond, I'm not sure if I'd classify this as a bug. Is there documentation that says that users can expect ``cp.vec`` or ``expr.flatten`` to accept an order argument? I ask because if there isn't, then the expected behavior you described would technically be a new feature, rather than a bugfix. This is relevant for deciding whether something can be updated in cvxpy 1.1.X and 1.2.X

[2022-03-15 10:33] keithbriggs opened #1708 "pip install fails on Ubuntu 20.04, cvxpy 1.2.0"
Does the below mean that if I have python 3.8 (which I do), then numpy must be 1.19 and nothing higher (I have 1.22.3)?

[code]

[2022-03-15 12:11] rileyjmurray commented on #1708
That shouldn’t be the case. Can you try again with “pip install cvxpy
—no-cache-dir”? (The em dash should be two dashes). We have wheels for
Ubuntu so I’m not sure why you’re getting a source distribution.

On Tue, Mar 15, 2022 at 3:33 AM keithbriggs ***@***.***>
wrote:

[2022-03-15 12:18] keithbriggs commented on #1708
Thanks - in the meantime I installed from spurce and cvxpy seems to be working now.

[code]

But there is something strange with my set-up, because now I am getting a similar failure with "pip install cylp" (all these pip commands worked without problems on another Unbunut 20 machine which I have).

[2022-03-15 12:34] rileyjmurray commented on #1708
Hmm. I just tried and successfully installed cylp. Here are my commands for cvxpy and cylp:
[code]

[2022-03-15 12:40] keithbriggs opened #1709 "Solving a fractional linear boolean problem"
This issue contains two potential bugs which I think need investigation:

1. Does the grammatically obscure error message `Error encountered when optimising <pyscipopt.scip.Model object at 0x7f772db8dbe0>: getSolObjVal cannot only be called in stage SOLVING without a valid solution (current stage: 10)` coming from SCIP mean that the cvxpy SCIP interface is faulty?
2.  Are the non-boolean results f

[2022-03-15 12:41] keithbriggs commented on #1708
Yes, I'm pretty sure something is broken on my machine (I have to use pip through a proxy, which might be the reason).   I've now successfully built cbc from source.

[2022-03-15 14:55] SteveDiamond commented on #1695
It's not a bug from that viewpoint.

[2022-03-15 16:43] keithbriggs opened #1710 "DOC: use https in all web links (as opposed to http or no prefix)"
[code]

On the other hand, https://web.stanford.edu/~boyd/papers/dqcp.html works!

[2022-03-15 22:45] rileyjmurray commented on #1710
@keithbriggs the link appears to work in Chrome and Firefox on my machine. Can you provide more information about how to reproduce this issue?

[2022-03-16 03:11] rileyjmurray commented on #1708
It sounds like this issue is resolved, then.

[2022-03-16 03:11] #1708 closed

[2022-03-16 03:24] justinberi commented on #1696
Ah thanks for the feedback. Closing as this is expected behabiour.

[2022-03-16 03:24] #1696 closed

[2022-03-16 08:38] keithbriggs commented on #1710
I just clicked on the link!   However, this does work for me at home, whereas at work I have to use an http proxy.    If addresses don't have an explicit http:// or https://, it seems like the proxy is not applied.  I think it would be good practice to put https:// in all external addresses in the doc pages.

[2022-03-16 14:17] rileyjmurray commented on #1710
Ah, the proxy rears its head again! I agree that it would be good for all doc URLs to use https. I'll update the title of this issue accordingly.

[2022-03-17 04:31] rileyjmurray opened #1712 "DOC: user guide should include "migrating from Matlab and CVX to CVXPY""
Migrating from Matlab to the scientific computing ecosystem in Python can be a painful process. CVXPY is a common Python entry-point for scientists and engineers who know Matlab. We should have the user guide provide pointers on the differences between CVX and CVXPY. We should also emphasize the crucial differences between numpy ndarrays, SciPy (sparse) matrices, cvxpy Expressions, and Matlab arra

[2022-03-17 11:44] sarahboufelja commented on #1706
Thank you, works now with SCIP.

[2022-03-17 20:34] BOUBEZOULMourad commented on #481
How can i do lbreg_fixedstep: linearized Bregman iteration with fixed stepsize
minimize |x|_1 + 1/(2*alpha) |x|_2^2 subject to Ax = b

[2022-03-18 04:07] caitaozhan opened #1713 "DOC: add documentation for cvxpy.real"
The [documentation](https://www.cvxpy.org/api_reference/cvxpy.atoms.affine.html) for **real** in affine atoms is missing. The [real.py](https://github.com/cvxpy/cvxpy/blob/master/cvxpy/atoms/affine/real.py) code exists, but there is no documentation for it.

This missing document wasted me a lot of time to find the API that I want, which is cp.real

[2022-03-18 05:45] mmusallam19 opened #1714 "Huber regression and Quantile regression links are broken"
**Describe the bug**
Huber regression and Quantile regression examples are not loading when I click the link. See below screenshot.

![image](https://user-images.githubusercontent.com/74632900/158944506-bab0cce9-1fb7-4715-a8a9-c7f3347914d3.png)

[2022-03-18 12:20] keithbriggs opened #1716 "DOC: warm_start not in API reference"
https://www.cvxpy.org/_modules/cvxpy/problems/problem.html does not mention the `warm_start` argument to `.solve()`.

[2022-03-18 16:17] #1714 closed

[2022-03-18 16:17] SteveDiamond commented on #1714
Good catch! This will be fixed when the web page updates. In the meantime you can find them here: https://github.com/cvxgrp/cvx_short_course/tree/master/applications

[2022-03-18 23:07] muhlbach opened #1717 "Using SCS-solver generates "ValueError: Error parsing inputs""
**THANK YOU**
Before describing the bug, let me once again start out by thanking all maintainers at CVXPY for their awesome job!!!

**Describe the bug**
When wrapping CVXPY into a class, the SCS solver does not work (in the following example), but other solvers (e.g., CVXOPT) work just fine.

Using SCS, it throws the following error:

[code]

**To Reproduce**
Using this, one should be able to repr

[2022-03-18 23:42] SteveDiamond commented on #1717
What version of SCS do you have?

[2022-03-19 00:07] muhlbach commented on #1717
SCS v3.2.0 (I should have mentioned that, my apologies).

The weird thing is that if I solve the problem directly (not wrapped in the class), it works fine. It is exactly the same procedure as in the class, where all data arguments just get passed through methods. Otherwise the CVXOPT wouldn't work.

[code]

[2022-03-19 00:48] rileyjmurray commented on #1717
@muhlbach when I run it with SCS 3.1 I get the following error
[code]
So I changed
[code]
to
[code]
and everything worked fine. So you should change your call to ``prob.solve`` to something like
[code]
I've verified that works on my machine when when calling ``finetuner = FineTuner(verbose=2, solver=cp.SCS)``.

I believe that should resolve your issue with SCS 3.2 as well. Please go ahead and clos

[2022-03-19 14:22] rileyjmurray commented on #1713
Hi @caitaozhan. Thanks so much for reporting this! Getting better documentation together is a priority for us. We really appreciate you taking the time to bring this to our attention.

[2022-03-19 14:36] rileyjmurray commented on #1458
So CVXOPT might not return those stats, but we could consider intercepting CVXOPT's logging stream (not sure how) and recovering information from that. If the user solved the problem with verbose=True then we'd print out what we intercepted to stdout as usual.

[2022-03-19 14:40] rileyjmurray commented on #1529
I see one complication with this feature. How would we parse solver options? There aren't consistent names for things like the maximum number of iterations used by a solver or solver termination criteria.

[2022-03-19 15:48] rileyjmurray commented on #1590
I remember a discussion on the GPKit repo about this kind of functionality. I'm adapting my comment https://github.com/convexengineering/gpkit/issues/414#issuecomment-582564038 to summarize:

### Constraining a variable to take on specific values in mixed-integer convex programming

Here's a function that takes a scalar variable ``y`` and returns constraints that ensure ``y.value`` is in ``vec``:

[2022-03-19 15:54] omarshehab commented on #1458
That will be really helpful.

On Sat, Mar 19, 2022, 10:36 AM Riley Murray ***@***.***>
wrote:

[2022-03-19 15:56] rileyjmurray opened #1718 "Support quadratic objectives in PDLP"
CVXPY 1.2 can interface to PDLP. Per the initial post suggesting PDLP support (https://github.com/cvxpy/cvxpy/issues/1649), PDLP allows diagonal quadratic objective functions.

CVXPY 1.3 should support quadratic objectives with PDLP. This can actually be done with diagonal and non-diagonal quadratics. However, it requires a bit of a hack. First, consider CVXPY's standard form for QPs:

My suggesti

[2022-03-19 19:57] SteveDiamond commented on #1718
I would favor the reformulation over returning an error. My concern over Miles' initial suggestion of raising an error if it's not diagonal is that it would be hard to communicate to the user what sort of model formulations would be ok. It's not so complicated, but it feels like introducing a messy coupling.

[2022-03-21 05:42] mkoeppe opened #1721 "Add cvxpy.HIGHS as an alias of SCIPY (method='highs')"
It would be convenient to have the HIGHS solver available under this name as a shortcut for `cvxpy.SCIPY, scipy_options={"method": "highs"}`

[2022-03-21 12:51] muhlbach commented on #1717
Ah, the error message from version 3.1 is easier to debug. I should've considered checking another version. This works like a charm. Thank you a lot guys, @SteveDiamond, @rileyjmurray, highly appreciated!

[2022-03-21 12:51] #1717 closed

[2022-03-21 16:10] SteveDiamond commented on #1721
Great idea! We should definitely add these aliases. I wasn't aware of DSDP, so thanks for sharing that.

[2022-03-22 01:16] rileyjmurray commented on #1721
See my comment here about DSDP: https://github.com/cvxpy/cvxpy/pull/1719#discussion_r831687480

[2022-03-22 10:39] pat749 commented on #1716
yes i also  saw it

[2022-03-22 10:46] pat749 commented on #1222
hi @rileyjmurray currently i am working on it and i am also  reading arxiv research paper which you have given ,but i have a simple doubt should hamza fawzi paper also have to implemented using cvxpy   and also any suggestion for this task? thanks

[2022-03-22 10:47] pat749 commented on #1222
and also any discourse group where i can join

[2022-03-22 11:04] rileyjmurray commented on #1222
Hi @pat749, nice to hear you're taking this on! Hamza Fawzi's papers are not needed for this task. We can have discussions here, on Discord, or on GitHub Discussions.

[2022-03-22 17:32] pat749 commented on #1222
ok thanks

[2022-03-23 00:33] rileyjmurray commented on #1718
We should hold off on this reformulation until we decide on a standard method for sparse Cholesky and/or sparse LDLT within CVXPY. There are two ways we might access that functionality:

 * Use Eigen (see #1459. CVXPY's cvxcore subsystem already has Eigen as a dependency.
 * Use QDLDL. CVXPY has OSQP as a dependency, and OSQP requires QDLDL.

[2022-03-23 00:52] rileyjmurray opened #1723 "Allow -1 (negative one) in cp.reshape"
In NumPy, calling ``b = np.reshape(a, shape=s)`` for a tuple ``s`` permits one occurrence of -1 in ``s``. The index -1 is automatically replaced by whatever value is needed for ``s`` to specify valid axis dimensions in reshaping ``a``.

For example, ``np.reshape(a, (-1, 1))`` will reshape ``a`` into a column vector, and ``np.reshape(a, (1, -1))`` will reshape ``a`` into a row vector. More generall

[2022-03-23 00:59] rileyjmurray opened #1724 "Atom for the "outer product""
CVXPY should have an atom that computes outer products, akin to https://numpy.org/doc/stable/reference/generated/numpy.outer.html.

Here's a rough implementation of how that could work:
[code]

[2022-03-23 00:59] rileyjmurray commented on #1723
See also #1695

[2022-03-23 11:50] phschiele commented on #1341
GitHub also provides the possibility to upload a citation file (see [docs](https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-citation-files) and [blog post](https://github.blog/2021-08-19-enhanced-support-citations-github/)) for convenience.

Your suggestion seems better suited for CVXPY, as there are potentially multiple pape

[2022-03-23 12:11] phschiele commented on #1723
[Here](https://github.com/scipy/scipy/blob/0dfb5d600299af16b1482731def7c91f7662ec28/scipy/sparse/_sputils.py#L279-L326) is the shape handling of scipy sparse, which might be a relevant starting point for the logic and error checks. It only works for two dimensions, though.

Another quite compact point of reference is the pydata/sparse implementation found [here](https://github.com/pydata/sparse/bl

[2022-03-23 20:09] rileyjmurray commented on #1590
That's great to hear @aryamanJgl! Please feel free to follow up here with questions.

[2022-03-25 00:45] PTNobel commented on #1700
Barring anything else anyone suggests, I'll start working on this tonight!

[2022-03-25 23:40] PTNobel commented on #1700
Is there an elegant way to overload cp.power to choose between `cp.power(b: cp.Constant | cp.Parameter, x: cp.Variable)` and `cp.power(x: cp.Variable, p: cp.Constant | cp.Parameter)` there's very little that needs to be shared between the implementation, unlike the various version of $x^p$, and I'm wondering if it would be reasonable to have something like:

[code]

and then two classes to impleme

[2022-03-25 23:51] mlubin commented on #1718
I'm hesitant to recommend the reformulation via Cholesky before seeing a couple numerical examples where it works well and has reasonable performance. It could be the case that other QP solvers accessible in CVXPY generally dominate PDLP in this setting.

[2022-03-25 23:54] PTNobel commented on #1700
Obviously this proposal breaks all code with an

[code]
and that might be considered a violation of SemVer? I'm not sure what our public API is.

If we want to keep that assert passing, I think the most elegant thing would be to have a:
```PowerAtom``` all of whom's methods just defers to the methods of `PowerAtom.inner` which is one of `RightVariablePowerAtom` or `OldPowerAtom` from my previous m

[2022-03-26 04:00] GEB-cell commented on #972
Thanks so much. Problem solved!! By the way, if you follow the steps above but no reaction. Maybe you can try to restart the complier~~

[2022-03-26 18:52] SteveDiamond commented on #1700
We do tend to handle cases like this as you've suggested, with a function that dispatches to two different atoms (see multiplication and quad_form). I think you could maintain the type assertion very easily though even with a dispatch function by making ``LeftPower`` and ``RightPower`` subclasses of an abstract ``power`` base class.

[2022-03-26 19:30] PTNobel commented on #1700
I guess my question is: am I required to maintain the type assertion by our SemVer rules?

Python+SemVer always confuses me since I'm never sure what's part of the API and what's just an implementation detail.

[2022-03-26 23:21] rileyjmurray commented on #1700
@PTNobel you're right to point out that it's not clear what is and isn't part of the public API. We should work towards doing a better job of that. In this case, Steven's suggestion of having ``Power`` remain a class in its own right and then dispatch to new subclasses ``LeftPower`` and ``RightPower`` gets the job done within reason. It's true that ``assert type(cp.power) is type`` would fail, but

[2022-03-28 01:39] oridong opened #1728 "The objective is not DCP"
cancel

[2022-03-28 02:58] vnscnap commented on #1076
Can you please give an example for the thing you mentioned? Thank you

[2022-03-31 13:41] wtmkcl opened #1730 "Why is the optimal value given by CVXPY different from solver's log?"
Dear all,

When using "problem.value" with CVXPY the returned value is different from the "Primal. Obj" of MOSEK. I tried to look in the documentation but no explanation is given.
In the following output, the difference is clear between "Primal.  obj: 7.5834843834e-01" and "Optimal value: -1.030e+00".
I appreciate a lot if anyone can clarify why CVXPY gives a different optimal value from the solve

[2022-03-31 20:27] wtmkcl commented on #1730
Thank you @SteveDiamond for the quick reply.
By the way, This discrepancy in the objective value between the solver and CVXPY happens with MOSEK, ECOS and SCS, even with trivial examples from the documentation.
Walt,

[2022-03-31 21:15] SteveDiamond commented on #1730
Ok that is normal if there are constant offsets. I don't see that as an issue.

[2022-03-31 21:16] #1730 closed

[2022-04-02 19:53] rileyjmurray commented on #1706
I'm working on a PR to update this example page. I'm not closing this issue because we might want to change the the solver error message from
[code]
to
[code]

[2022-04-02 20:55] rileyjmurray commented on #1716
I agree that warm_start should be mentioned (at least indirectly) in the docstring for ``.solve()``.  I think the best way forward here is to reorganize our [User Guide](https://www.cvxpy.org/tutorial/index.html) to give "calling a solver" a top-level section, and have that section contain content from
* https://www.cvxpy.org/tutorial/advanced/index.html#solve-method-options,
*  https://www.cvxpy.

[2022-04-02 22:32] rileyjmurray commented on #1713
I'm working on a PR that will fix this. It will also add web documentation for ``imag``.

[2022-04-02 23:00] rileyjmurray commented on #1710
I'm working on a PR that will fix this (at least for sites that can be accessed by HTTPS). I only applied the fixes to links in .rst files though.

[2022-04-03 00:57] rileyjmurray commented on #1713
Done!

[2022-04-03 00:57] #1713 closed

[2022-04-03 04:28] rileyjmurray commented on #1710
Fixed!

[2022-04-03 04:28] #1710 closed

[2022-04-03 15:39] rileyjmurray opened #1734 "TypeError in PDLP and GLOP interfaces"
Our CI builds are failing because of issues with the PDLP and GLOP interfaces. The problem is that the offset ``d`` in the canonicalized objective ``c @ x + d`` is of type ``ndarray`` with ``d.shape = (,)``, while the most recent PDLP and GLOP interfaces seem to require that ``d`` is a pure numeric type. This can be handled by replacing ``d = d.item()`` in the relevant interfaces.

[2022-04-03 20:41] rileyjmurray opened #1737 "Feature: A method where Problem objects report a list of appropriate solvers"
Related to #1113. It would be nice if Problem objects had a method ``capable_solvers`` where ``prob.capable_solvers()`` returns a list of names for every CVXPY-supported solver that could (in principle) be applied to ``prob``.

It could support various filtering keyword arguments; here are some that come to mind
* ``only_installed``: if True, then filter the returned list so it only includes insta

[2022-04-03 20:43] #1734 closed

[2022-04-03 21:07] #1706 closed

[2022-04-03 22:59] rileyjmurray commented on #1702
@keithbriggs I've identified and fixed the source of the SCIP error messages. We'll probably release a bugfix for this soon.

[2022-04-04 22:02] rileyjmurray commented on #1222
@pat749 have you worked on this? If so, can you please push your code to a public repository so I can see where you're at?

[2022-04-06 14:39] brunorigal commented on #1443
The MIP option is now in scipy with the integrality option [here](https://scipy.github.io/devdocs/reference/generated/scipy.optimize.linprog.html#scipy.optimize.linprog).

[2022-04-10 04:04] yasirroni opened #1743 "Install from source using `pip install -e .` fails install numpy on windows"
**Describe the bug**
Following CVXPY [docs](https://www.cvxpy.org/install/index.html#install-from-source), I can't simply use `pip install -e`, even after installing `Desktop development with C++` on `Visual Studio Build Tools`.

**To Reproduce**

`pip install -e .`

**Expected behavior**
It should be able to just install

**Output**

[code]

**Version**
 - OS: WIndows
 - CVXPY Version: '1.3.0.dev

[2022-04-10 04:07] yasirroni commented on #1743
Following `scikit-learn` [tutorial](https://scikit-learn.org/stable/developers/advanced_installation.html#compiler-windows), we should use:

[code]

The exact path to call `vcvarsall.bat` and the trailing `x64` is depends on your system. See above tutorial for more details.

[2022-04-10 04:08] yasirroni commented on #1743
I will close this issue. Hope others will find this helpful.

Re-open the issue if someone thinks it needed to be opened.

[2022-04-10 04:08] yasirroni commented on #1743
Hope the docs is updated. :)

[2022-04-10 04:14] rileyjmurray commented on #1743
Thanks for reporting this, @yasirroni! I'll re-open this so we remember to update the web documentation.

[2022-04-10 16:57] pat749 commented on #1695
in documentation there is nothing said about ,so it is a new feature and in (expr = cp.vec(x, order='C')) line vec() got an unexpected keyword argument 'order',so it is unevaluated expression and here it is not used in  colloquial expression so its new features or bug.

[2022-04-11 01:40] tkralphs opened #1747 "Incorrect documentation for CBC interface"
The documentation related to [Cbc](https://github.com/coin-or/Cbc) [here](https://www.cvxpy.org/tutorial/advanced/index.html#setting-solver-options) is incorrect. None of the options listed are supported. Also, all links to COIN-OR projects ([Cbc](https://github.com/coin-or/Cbc), [Cgl](https://github.com/coin-or/Cgl), [Clp](https://github.com/coin-or/Clp), etc.) should be to https://github.com/coi

[2022-04-11 03:27] SteveDiamond commented on #1747
That's surprising and unfortunate that cylp doesn't pass the arguments through to Cbc. Is there another python interface you would suggest?

[2022-04-12 02:59] tkralphs commented on #1747
To be precise, CyLP doesn't have a single uniform method for passing _arbitrary_ Cbc parameters. It does have purpose-built methods for setting _certain_ parameters, but part of the problem is also that the CVXPY interface doesn't call what methods do exist. The interface only attempts to pass parameters like this.
https://github.com/cvxpy/cvxpy/blob/ffc05bb6237fbf70644998635e4e24e792c12a30/cvxpy/

[2022-04-12 03:35] rileyjmurray commented on #1747
Thanks for opening this issue and providing that detailed explanation, @tkralphs. We need to do a better job of testing that CVXPY's attempts at setting solver parameters actually result in the intended behavior. I agree that using a modeling platform to access CBC options would be gratuitous. We'll correct the documentation soon.

As a secondary point, when you refer to alternatives to CVXPY for

[2022-04-14 02:13] yasirroni opened #1750 "Consider adding `autoflake` or `autoflake8`?"
**Is your feature request related to a problem? Please describe.**

Nope

**Describe the solution you'd like**

Since we use `flake8` in pre-commit to warn user about style and use `isort` to modify in place,, we can consider using `autoflake` (archived) or `autoflake8` (maintained) to add some auto fix raised by `flake8`. Some, because no tools is available to autofix all problem raised by `flake

[2022-04-14 08:53] chanansh commented on #972
how did you solve it?

[2022-04-18 18:04] Michael-git96 commented on #1443
@brunorigal - Thanks for letting us know! I can start working on getting the HiGHs MIP solver integrated, it should be fairly straightforward.

[2022-04-19 03:26] pqrz opened #1753 "Cvxpy Fails for Gurobi's `CloudPool` Parameter"
**Describe the bug**
We are using Gurobi solver via Cvxpy. We are using Gurobi Cloud instance and have multiple Gurobi pools. We want to specify target Gurobi pool using 'CloudPool' parameter but Cvxpy fails to process it.

Cvxpy throws this error:
`gurobipy.GurobiError: Unable o modify parameter CloudPool after environment started`

**To Reproduce**
[code]

**Expected behavior**
Run without failu

[2022-04-19 19:37] FlorianSchwendinger opened #1755 "Unboundedness detection can fail for the exponential cone"
# Unboundedness detection often fails for the exponential cone

[Silvapulle (1981)](https://doi.org/10.1111/j.2517-6161.1981.tb01676.x) gives simple criteria under which the MLE does not exist for the logistic regression model. In this context it is said that the MLE exists, if it is finite and unique. Since in the example given by Silavpulle (1981) the data is separated, the problem is unbounded.

[2022-04-19 19:47] rileyjmurray commented on #1755
@FlorianSchwendinger I can look into this more later. But, I can say that numerical optimization solvers accessible from cvxpy only support double-precision numbers, which cannot accurately represent numbers below 1e-16. Moreover, convex optimization algorithms require taking products of values that are stored as double-precision numbers, therefore the best that one can really hope for is a soluti

[2022-04-19 19:49] keithbriggs commented on #1755
Why does the second call to ECOS give a different answer?

[2022-04-20 03:11] tkralphs commented on #1747
Sorry for the delay! As for the alternatives, @mkoeppe recently pulled together a good list of tools, which I don't think I could improve upon: https://trac.sagemath.org/ticket/26511. I keep referring to that list and wishing it existed somewhere other than buried in a ticket in Sage. Maybe someone should ask this question on OR Stack Exchange just to have this posted as the answer.

[2022-04-20 06:45] FlorianSchwendinger commented on #1755
I tried MOSEK, the second ECOS are the results of MOSEK (copy paste error) from the [notebook](https://github.com/FlorianSchwendinger/ipynb/blob/main/CVXPY_unboundedness.ipynb) I created the example.

Typically, I write the matrices my self in **R** and use the solvers directly, but since most of the solver authors is the CVXPY group I thought here is best forum to ask this question.

[2022-04-20 06:54] FlorianSchwendinger commented on #1755
Thank you!
This would mean, unboundedness can't be detected for logistic regression?
From my experience the answer is currently yes. This raises the question, is it impossible or can the criteria be changed in a meaningful way that it works again. And is this a problem which only is occurring in logistic regression and log-binomial regression or is this a general problem and only for this cases it

[2022-04-20 18:38] FlorianSchwendinger commented on #1755
Thank you very much for the answer!

[2022-04-25 04:47] dyballa opened #1758 "ECOS output when running GUROBI solver?"
1) Sometimes I get the following printed output when solving a problem with ECOS, even when setting verbose to False:

`ECOS 2.0.10 - (C) embotech GmbH, Zurich Switzerland, 2012-15. Web: www.embotech.com/ECOS`

`It     pcost       dcost      gap   pres   dres    k/t    mu     step   sigma     IR    |   BT`
 `0  +1.300e+03  +2.760e+04  +7e+04  6e-01  3e+01  1e+00  3e+00    ---    ---    1  1  - |

[2022-04-27 19:43] abyvinodm opened #1760 "cvxpy.length and minimum_length_least_squares example"
**Describe the bug**
cvxpy.length(x) function is not working as expected.

I tried running the example https://www.cvxpy.org/examples/dqcp/minimum_length_least_squares.html and got the output of 10, instead of 8.

**To Reproduce**

**Expected behavior**
The desired output is given in https://www.cvxpy.org/examples/dqcp/minimum_length_least_squares.html. Specifically, the following output on the se

[2022-04-27 23:09] SteveDiamond commented on #1760
I think I know why this is happening. Everything is fine, if you look at the actual value of x you can see it's the same as before. It's just about how the optimal value is reported/how length is calculated.

[2022-04-27 23:10] SteveDiamond commented on #1760
We need to update the ``length`` atom to have a numerical tolerance.

[2022-04-27 23:39] abyvinodm commented on #1760
That makes sense. Thanks for a quick response.

[2022-04-28 02:56] #1760 closed

[2022-04-28 19:52] BrannonKing opened #1762 "w.T@V@w is rejected but quad_from is not"
I attempted to use w.T@V@w for a quadratic objective. This gets rejected as violating DCP rules. After looking online, I replaced that with quad_form(w, V). The quad_form method runs fast and fine. Why the difference? Can we make the matrix multiplication approach work?

 - OS: Linux
 - CVXPY Version: 1.2.0

[2022-04-28 20:17] phschiele commented on #1762
Hi @BrannonKing,

thanks for taking the time to create the issue even though you found the currently supported way of doing it using `quad_form`.

Better handling of such quadratic forms was recently suggested by @SteveDiamond on Discord ([here](https://discord.com/channels/845323972962549790/845327242456203295/916038778085343282)).

Would you be interested in contributing this feature?

[2022-05-02 07:32] azurewtl opened #1765 "pip installation failure"
Im trying to install optbinning in my M1 Mac book pro, whereas the dependency "cvxpy" is fail to be installed
The reason might be: It required numpy-1.16.6, but I checked numpy-1.16.6 only support python3.7

Related code:https://github.com/cvxpy/cvxpy/blob/0c657756d34592bf5a567d2a545b26e86da99208/pyproject.toml#L18
Python: 3.8.12
OS: macOS Monterey Version 12.3.1

<=====Error Message=====>

MacBoo

[2022-05-02 17:39] parthb83 commented on #858
Hey @rileyjmurray! I would like to work on this issue as was suggested by you. Kindly guide me through the process of working on this issue.

[2022-05-03 18:00] rileyjmurray commented on #858
Hi Parth. Sorry, my bandwidth is actually pretty limited right now. Maybe @phschiele could help?

[2022-05-05 19:13] phschiele commented on #858
@rileyjmurray Sure, we'll figure out some details on Discord.
Perhaps besides the atom itself, we could leverage this to add (at least high-level) instructions for adding an atom.

[2022-05-06 18:18] jakeknigge commented on #1605
Hi @rileyjmurray and @SteveDiamond, I'd traded a couple emails with @bodono about contributing to SCS (I’ve benefitted from using CVX{PY, R, ""} [where CVX"" = CVX] and the related ecosystem for years and I'd like to start paying my CVXGRP dues). He suggested that this issue could be an interesting place to start—and I agree! It looks like a fun one, touching a variety of places in the stack. Let

[2022-05-07 01:11] matteosantama commented on #1765
Are you able to `pip install 'numpy==1.16'` on your machine? I believe the problem is that `numpy==1.16` cannot be installed on an M1.

[2022-05-07 04:09] rileyjmurray commented on #1765
Thanks for the input @matteosantama, that might indeed be a problem here. Looking at the NumPy PyPI page (here https://pypi.org/project/numpy/1.16.6/#files), it's true that there are no wheels for Python 3.8. That means pip will try to build version 1.16 for Python 3.8 from NumPy source code, which leads to an inevitable failure.

We could add another case-check to pyproject.toml so that M1 macs n

[2022-05-07 04:12] rileyjmurray commented on #1765
@azurewtl you might try following the suggestion at https://github.com/cvxpy/cvxpy/issues/1190#issuecomment-990418512 to override cvxpy's pyproject.toml.

[2022-05-10 20:23] utkinas opened #1770 "Status optimal, but optimal value is nan"
Hello,
I'm using quadratic optimization with several equality and non-equality constraints.  And one of the equality constrains are causing the following:
-------------------------------------------------------------------------------
                                    Summary
-------------------------------------------------------------------------------
(CVXPY) May 10 12:59:44 PM: Problem statu

[2022-05-10 21:31] SteveDiamond commented on #1770
Are you 100% sure there are no nans in your inputs to the problem?

[2022-05-11 03:45] utkinas commented on #1770
All the input values were not nan, but it looks i was passing the constraint incorrectly. Thank you for suggestion - it works now! Optimal status confused me a bit.

[2022-05-11 09:54] lorenzosteccanella opened #1771 "DCP issue with norm"
Hi all,

I'm new to CVXPY I was trying to set the following problem:

[code]

but I'm getting the error:

`cvxpy.error.DCPError: Problem does not follow DCP rules. Specifically:
The objective is not DCP. Its following subexpressions are not:
power(Pnorm(X @ W.T + -Y @ W.T, 2) + -C, 2.0)`

I'm not sure how I could rewrite the function to accomplish with the DCP, moreover, I believe the objective is

[2022-05-11 15:11] dsantiago opened #1772 "[Help] Undertand what is not workin with my matrix optimization?"
Hi all, hope you guys doing fine!

I am trying to optimize something like this  `Minimize: (a * A) + 1 / (a @ Cov @ a.T) `

Where `a` is the Variable to optimize, `Cov` a covariance matrix and `A` is a mean vector same size of the scalable `a` vector

But i tried many things and my `object.is_dcp()` keeps False.

If i try something like this (first part of equantion ignoring the division):

[code]

[2022-05-11 15:27] dsantiago commented on #1772
An interest approach i tried was this also:

[code]

[2022-05-11 16:28] SteveDiamond commented on #1771
The objective is not convex. Specifically ``cvx.norm((X@W.T - Y@W.T), 2, axis=1) - C)**2`` is not convex.

[2022-05-12 08:14] keithbriggs opened #1773 "Reminder about #1709"
Two months ago in issue #1709 (Solving a fractional linear boolean problem) I reported what looks like serious bugs in the SCIP and CBC interfaces.   I don't think anyone has looked at this yet.   I have a workaround (namely, restricting myself to GLPK_MI), but for the sake of the rest of the cvxpy community, I think these need fixing.

(Reminder: SCIP prints repeated warning messages on every ite

[2022-05-12 10:08] lorenzosteccanella commented on #1771
Thanks a lot for your quick reply!

Can you give me some intuitive hints on why this function is not convex? Moreover, do you suggest how to make it convex?

Thanks a lot for your help!

[2022-05-12 13:56] rileyjmurray commented on #1773
Thanks for following up, @keithbriggs. You're correct that the cvxpy community deserves to have these fixed.

PR #1739 handles SCIP. Note that part of the SCIP issue was cvxpy's SCIP interface, while another part was SCIP itself.

When you say SCS, I think you mean CBC. @SteveDiamond @phschiele @akshayka could you look into CBC? The script that @keithbriggs provided in #1709 is very nice and clear

[2022-05-12 14:53] #1772 closed

[2022-05-12 15:54] dsantiago commented on #1772
Thanks Riley for helping out! Understanding better now ...

[2022-05-12 16:18] SteveDiamond commented on #1771
Unfortunately it can't be made convex. You could try DCCP (https://github.com/cvxgrp/dccp) or a general nonlinear solver like SciPy optimize https://docs.scipy.org/doc/scipy/reference/optimize.html

[2022-05-12 16:18] #1771 closed

[2022-05-12 17:03] SteveDiamond commented on #1605
Hi @jakeknigge ! Can you join the discord (https://discord.gg/4urRQeGBCr) and reach out to us there? Then we can discuss approaches in more detail.

[2022-05-12 17:51] SteveDiamond commented on #1773
I installed cvxpy from source and Cbc via ``pip install cylp``. The code in #1709 worked fine for me. This is on mac with Python 3.10.

[2022-05-12 17:51] SteveDiamond commented on #1709
I installed cvxpy from source and Cbc via ``pip install cylp``. The code above worked fine for me. This is on mac with Python 3.10.

[2022-05-13 08:29] phschiele commented on #1773
Thanks @keithbriggs for the nice testing script!
CBC also works for me under Python 3.8, Ubuntu 20.04, CVXPY master, and `cylp==0.91.5`

[2022-05-14 06:44] sreenivasan-eaglegenomics opened #1776 "Please delete this, wrongly created"

[2022-05-14 06:45] #1776 closed

[2022-05-14 08:51] keithbriggs commented on #1773
Thanks everyone for checking this.   I did `pip install --upgrade cylp` and the non-boolean problem went away, but was replaced by

[code]

However, reinstalling cvxpy from source fixed everything!    In fact, on my problems, GLPK_MI is about 20 times faster than CBC, and 10 times faster than SCIP.  So I don't really need CBC.

[2022-05-14 18:20] SteveDiamond commented on #1773
@rileyjmurray could we deploy a new patch? I'm not sure how the process works at this point...

[2022-05-16 04:28] rileyjmurray commented on #1773
@SteveDiamond I'll create a GitHub Discussion for the next patch releases (1.1.20 and 1.2.1) and tag you. I just finished updating the release/1.1.x and release/1.2.x branches so you should just be able to follow the directions in ``PROCEDURES.md``.

[2022-05-16 04:32] rileyjmurray opened #1778 "Make patch releases: 1.1.20 and 1.2.1."
We've accumulated a few important bugfixes since the releases of 1.1.19 and 1.2.0. I just finished propagating those bugfixes to release/1.1.x and release/1.2.x branches. At this point, all we need to do to make the new releases is described in ``PROCEDURES.md``.

@SteveDiamond could you please try to make the release of 1.1.19? If that goes well then you can go ahead and do 1.2.1 as well. If you

[2022-05-16 19:15] SteveDiamond commented on #1778
Success! The new process is very simple/clean!!

[2022-05-16 19:15] #1778 closed

[2022-05-16 19:16] SteveDiamond commented on #1709
All related issues are addressed in the latest patch (deployed to pypi).

[2022-05-16 19:16] #1709 closed

[2022-05-16 19:16] SteveDiamond commented on #1773
All related issues are addressed in the latest patch (deployed to pypi).

[2022-05-16 19:16] #1773 closed

[2022-05-16 22:57] rileyjmurray commented on #1778
Thanks again to @phschiele for doing a great job setting up CI and deployment infrastructure!

[2022-05-17 03:46] rileyjmurray commented on #1758
This is very weird. We can't really help without more information. Can you please provide a script that (intermittently) has this problem? You can post on Google Colab if you prefer.

If you can't share your *actual* data due to privacy reasons, I encourage you to replace the data in the constraint matrix with a bunch of random data. (Do retain sparsity if the matrix is sparse, though.)

[2022-05-17 03:47] rileyjmurray commented on #1755
Closing since this isn't a bug in CVXPY or the numerical solvers.

[2022-05-17 03:47] #1755 closed

[2022-05-17 03:52] rileyjmurray commented on #1747
@SteveDiamond @tkralphs I think we should update the web documentation soon to remove claims that CBC parameters are supported. We can have a remark that older versions of the documentation were incorrect, create a new GitHub issue for adding CBC parameter support, and link to that issue to indicate our intent of getting the parameters in there properly.

Does that sound good to you two? If so, I

[2022-05-17 03:55] rileyjmurray commented on #1770
Part of me wants to close this issue since there was malformed input, but it would be nice to know how the solver status is being reported as optimal with NaN solutions. @utkinas can you provide the broken code that generated this error? If not, please go ahead and close this issue.

[2022-05-17 04:11] rileyjmurray commented on #1653
@phschiele what do you think about closing this issue? To me, it seems like a bug in the usage / installation of ``isort``. If we do anything, maybe it would just be to have [this part of the web docs](https://www.cvxpy.org/contributing/index.html#code-style) link to this issue so people know this might happen. If someone else has this problem then we can re-open.

[2022-05-18 06:17] phschiele commented on #1653
@rileyjmurray Indeed seems like some issue with the local installation since the configuration clearly is being picked up for most users. Since the linters are usually considered towards the end of a PR, I don't think this would discourage someone from contributing, but I suppose adding a sentence to the docs wouldn't hurt. I can add this over the weekend.

[2022-05-18 07:11] yasirroni commented on #1653
I suggest to not tell new developer to run `isort`. Telling them to install pre-commit is enough as it will automatically run `isort`.

Adding some info that the pre-commit will run `isort` also will not hurt.

[2022-05-18 09:17] yllgl opened #1779 "Why exp(x)-x not follow DCP rules?"
**To Reproduce**

[code]
**Output**
[code]
**Version**
 - OS:
 - CVXPY Version:1.2.0

[2022-05-18 09:23] phschiele commented on #1779
From the [DCP rules](https://www.cvxpy.org/tutorial/dcp/index.html):

The only valid constraints under the DCP rules are

affine == affine
convex <= concave
concave >= convex

[2022-05-18 09:29] yllgl commented on #1779
Thanks a lot! But How could I solve "cp.exp(x)-x" constrain if it not follow DCP rules, any possible idea?

[2022-05-19 12:39] yllgl opened #1780 "how to set initial value to optimize?"
**Describe the bug**
I have try to set initial values that fit constrains.
my code like this:
[code]
it didn't output `False` which means that all constrains fit.
And obj.value is about 64.
However, I try to solve the problem:
[code]
it output `infeasible` which makes no sense:
<details>
  <summary>output</summary>

[code]

</details>

[2022-05-20 14:11] rileyjmurray commented on #1779
Philipp's response is correct. Closing.

[2022-05-20 14:11] #1779 closed

[2022-05-21 13:45] jfpios opened #1781 "Saving DPP compilation time"
**Is your feature request related to a problem? Please describe.**
The first compilation takes a lot of time when I need to solve the DPP problem repeatedly.

**Describe the solution you'd like**
I want to save the DPP compilation result and load it directly the next time I run the same code.

**Describe alternatives you've considered**
I hope I can output a file to save the compilation result so

[2022-05-21 19:10] SteveDiamond commented on #1781
You could use CVXPYgen (https://github.com/cvxgrp/cvxpygen). This will compile the problem into C code (using DPP), in a way that's easy to call from Python. Alternatively, you could pickle the problem after you solve it once and load it from the pickle file.

[2022-05-21 19:17] phschiele commented on #1781
@jfpios we are in the process of building a benchmarking tool and collect real world examples for that. It would be great if you could provide the code that produces the slow compiling problem, if possible.

[2022-05-22 06:38] jfpios commented on #1781
Thank you for your kind reply. I will try to use CVXPYgen. I am working on a project now, and there is still a long way from finishing it. I will share my code after I get a satisfying result.

[2022-05-22 06:39] #1781 closed

[2022-05-23 04:22] michael-123123 opened #1784 "cp.sum is inconsistent with np.ndarray"
**Describe the bug**
`cp.sum` does not apply consistently when the input is a numpy array.
Specifically, if the array is composed of constant values, `cp.sum` works fine.
Otherwise, it crashes.

I realize that I can wrap the numpy array with an `hstack` or a `vstack` but doing so entails heavy performance penalties (upto x3 time).

**To Reproduce**
`cp.sum(npasarray([1,2,3,cp.Variable(),4,5]))`

*

[2022-05-25 11:55] lukemarris opened #1785 "Prefer Sequence typing over List"
For example the Problem class is typed:

[code]

Would this be better typed like so?

[code]

This way passing a tuple constraint will not result in type errors.

[2022-05-25 19:45] SteveDiamond commented on #1785
That does seem a bit better.

[2022-05-26 10:45] michael-123123 commented on #1785
I think it would be best if `constraints: Optional[Iterable[Constraint]]`
so that `cp.Problem.__init__` does the conversion to list internally -- this would allow e.g., to pass a generator to `cp.Problem.__init__`.

[2022-05-26 14:49] nicomignoni opened #1786 "Typo in the documentation"
In the example page [Maximizing the volume of a box](https://cvxpy.readthedocs.io/en/latest/examples/dgp/max_volume_box.html) there is a typo at the beginning:

which I believe should be "_and depth d_".

[2022-05-26 15:12] lukemarris commented on #1785
Iterable could also be an option.

Just a note: although I called out cp.Problem specifically as an example, there are many public functions using List[...] to type arguments. I don't have a strong opinion about Iterable vs Sequence, but it does seem to me that List[...] is unnecessarily narrow.

[2022-05-26 16:59] SteveDiamond commented on #1784
I don't think it's so simple as the fix you propose. You have an object array, and it's going to remain an object array unless it's 100% reduced (i.e. down to a scalar). cvxpy is not at all set up to have object arrays floating around internally. In general we strongly discourage applying numpy functions to cvxpy objects. I'll flag @phschiele who is working with Michael Sommerauer on speeding up c

[2022-05-26 17:26] SteveDiamond commented on #1784
Related, we need to add support for sparse variables, which could help here via ``cp.sum(constant + sparse variable)`` instead of using hstack/vstack.

[2022-05-27 04:33] pqrz opened #1787 "Handling of Mosek's `Unknown` Problem Status"
**Describe the bug**
We run large scale optimisation problems using Cvxpy + Mosek.

One of our optimisation problems yielded `problem status` and `solution status` as [Unknown](https://docs.mosek.com/latest/capi/accessing-solution.html#:~:text=unknown%20%E2%80%94%20the%20solver%20was%20unable%20to%20reach%20a%20conclusion%2C%20most%20likely%20due%20to%20numerical%20issues.), and Cvxpy returned sol

[2022-05-27 10:25] michael-123123 commented on #1784
Ok. Thanks.

[2022-05-27 11:15] rybindmitry opened #1788 "Visual Studio installation guide is in Google Drive folder without access rights"
**Describe the bug**
To install your package I need to wait until someone gives me permission in some google drive folder https://drive.google.com/file/d/0B4GsMXCRaSSIOWpYQkstajlYZ0tPVkNQSElmTWh1dXFaYkJr/view?usp=sharing

**To Reproduce**
Go to https://www.cvxpy.org/install/index.html and click 'install instruction' for Visual Studio build tools.

**Expected behavior**
No waiting time to install a

[2022-05-27 16:12] SteveDiamond commented on #1788
Where are you finding this link?

[2022-05-27 16:15] SteveDiamond commented on #1787
I ran into the same issue and monkey patched cvxpy with exactly the fix you proposed. If we wanted to add this change to cvxpy, I think we should introduce an UNKNOWN status in ``cvxpy.settings``. I'm not comfortable labeling it ``optimal_inaccurate``, because sometimes UNKNOWN in mosek does correspond to quite wrong values.

[2022-05-27 16:26] SteveDiamond commented on #1786
I had forgotten the readthedocs still existed. I went and deleted it, so that confusion shouldn't arise again.

[2022-05-27 16:51] SteveDiamond commented on #1788
Could you try the link again? Should be fixed.

[2022-05-28 08:03] rybindmitry commented on #1788
Now it works. Thank you.

[2022-05-28 18:47] #1788 closed

[2022-06-01 06:06] phschiele commented on #1784
@michael-123123 Can you explain the testing you did to come up with the "up to x3 time" performance penalty for stacking? I'd like to see what the bottleneck is here.

[2022-06-01 09:26] michael-123123 commented on #1784
Hi @phschiele -- sure.
The biggest issue is with hstack - because it does a lot of reshaping.

an example test program:

[code]

[2022-06-02 23:39] maitreyeemarathe commented on #1765
Update - I was able to install cvxpy using conda (and Python 3.10.4) instead of pip. I installed cvxopt with conda and then cvxpy.

[2022-06-03 05:48] phschiele commented on #1784
Thanks for the nice snippet, @michael-123123 !
I did some digging and it turns out that `hstack` is slower because of the way the size is computed.
This is quite surprising, but by replacing the `np.prod(shape)` in `expression.py` and `reshape.py` with the function below, I see much better performance (before it was similar to your results).
[code]

[code]

The slowdown in `np.prod` occurs in `__a

[2022-06-06 00:34] brettelliot commented on #1190
Hi all. Im still unable to `pip install cvxpy` on my mac M1. I installed cmake with homebrew, and im using ECOS 2.0.5. Im using python 3.8.10 and here are my current packages:

ecos       2.0.5
numpy      1.22.4
osqp       0.6.2.post5
pip        22.1.2
pybind11   2.9.2
qdldl      0.1.5.post2
scipy      1.8.1
setuptools 56.0.0

The issue appears to be that despite having numpy 1.22.4, it trys to ge

[2022-06-06 00:41] phschiele commented on #1190
@brettelliot There is an open PR (https://github.com/cvxpy/cvxpy/pull/1725) that would create wheels for M1. Unfortunately, we do not have an M1 machine to test this at the moment.
You can give us feedback if downloading the wheel file from the bottom of the build (https://github.com/cvxpy/cvxpy/actions/runs/2029620352) would work for you.
The corresponding file from the zip is called "cvxpy-1.3.0

[2022-06-06 03:56] michael-123123 commented on #1784
hi @phschiele

Thanks for the explanation.
In that case - would `size_from_shape` be changed to use `reduce` in future versions of CVXPY?

[2022-06-06 04:04] phschiele commented on #1784
I don't see a big downside to changing it. If the maintainers agree, a PR would be most welcome. Perhaps `utilities/shape.py` would be a good place to house this function.

[2022-06-06 04:10] michael-123123 commented on #1784
ok - thanks

[2022-06-06 15:15] brettelliot commented on #1190
Hi @phschiele! That worked! Thanks!

[2022-06-07 03:50] rileyjmurray commented on #1190
@brettelliot @phschiele I'll caution that the version number there is dubious! We haven't released CVXPY 1.3.0 yet, on any platform. You're getting a development version of some kind by installing that (something after 1.2.0, but probably before 1.2.1).

[2022-06-07 03:52] rileyjmurray commented on #1784
Hi @michael-123123. I agree with @phschiele, this is the kind of change that could go in a minor release (the eventual 1.3.0).

CC: @SteveDiamond @akshayka. What do you two think?

[2022-06-07 04:07] phschiele commented on #1190
@rileyjmurray Thanks, for the word of caution here!
For reference, the linked PR is based on this commit in master: https://github.com/cvxpy/cvxpy/commit/05157b0f6b38e736918970ee6b0d51d27793dccf

Do you suggest that M1 wheels would become available with 1.3?
Otherwise, we could merge the PR also in the release branches and rerun the deploy to backfill the wheels for 1.1.x and 1.2.x.

[2022-06-07 04:16] rileyjmurray commented on #1190
I think merging this PR in the release branches to backfill wheels is perfectly fine. We'd just be changing infrastructure, not any cvxpy code that a user gets.

I specifically think we can backport wheels for the most recent releases on 1.2.x (i.e., 1.2.1) and 1.1.x (not sure of the precise number).

[2022-06-07 08:29] andruten commented on #1190
I can confirm cvxpy is installed well in a M1 having python 3.9 too :). Thank you!

[2022-06-07 16:38] SteveDiamond commented on #1784
Definitely, it's a very welcome improvement!

[2022-06-08 17:13] SteveDiamond commented on #1786
Resolved.

[2022-06-08 17:13] #1786 closed

[2022-06-09 08:25] adishavit commented on #1784
@phschiele what software did you use to make this graph?

[2022-06-09 15:11] AnujF1005 opened #1795 "Function handle in solvers"
Add a feature to use the function handles in the objective expression. For e.g. A is matrix of nxn but n is too large. So instead of A, we can able to pass object of class which has overloaded functions for matrix multiplication, transpose, etc. which are efficient than normal matrix multiplication, transpose, etc.

[2022-06-09 16:01] phschiele commented on #1784
@adishavit it's called [snakeviz](https://jiffyclub.github.io/snakeviz/)

[2022-06-09 16:17] SteveDiamond commented on #1795
Good idea! I worked on this before (https://web.stanford.edu/~boyd/papers/abs_ops.html), but it's not supported by any solvers currently. It's possible @PTNobel has looked at something similar.

[2022-06-09 18:03] AnujF1005 commented on #1795
Thank you for the link! I'll check it out. But still consider function handles for cvxpy.

[2022-06-10 12:55] kubataytekin opened #1797 "GLPK assertion error"
I'm encoutering an uncaught assertion error from GLPK_MI at npp3.c at line 2131 within the npp_forcing_row function.

** To Reproduce**

I've included the parameter arrays as .npy files.

[code]

**Expected behavior**
A clear and concise error message

**Output**
Here's the output :
[code]

**Version**
 - OS: W10 64bit
 - CVXPY Version:   v1.2.1

np arrays:
[dump.zip](https://github.com/cvxpy/cvxp

[2022-06-10 15:53] rileyjmurray commented on #1795
@AnujF1005 the problem is that we need a numerical solver that supports function handles. If we had an interface to such a solver then we could talk about having cvxpy expose that feature to users.

[2022-06-10 15:54] rileyjmurray commented on #1770
Closing due to inactivity.

[2022-06-10 15:54] #1770 closed

[2022-06-10 15:54] rileyjmurray commented on #1758
Ping @dyballa. See my comment above.

[2022-06-11 04:40] AnujF1005 commented on #1795
Okay. Hope that solvers will support the function handles in future for bigger problems. Thank you for the response. I am closing this issue.

[2022-06-11 04:40] #1795 closed

[2022-06-13 04:29] SteveDiamond commented on #1190
Resolved via @phschiele 's PR.

[2022-06-13 04:29] #1190 closed

[2022-06-13 04:30] SteveDiamond commented on #1765
Resolved via #1799 and #1800.

[2022-06-13 04:30] #1765 closed

[2022-06-13 16:13] juliangilbey opened #1801 "examples should not be installed at the top level of the Python library hierarchy"
**Describe the bug**
I ran `pip install --user cvxpy` (or rather, it was pulled in by another package), and I found a directory called `examples` in my Python library directory.

**Expected behavior**
Such a directory should clearly indicate what it belongs to, either by being called `cvxpy_examples` or `cvxpy/examples`, or should not be installed at all, as it is not a necessary part of the packa

[2022-06-14 06:26] juliangilbey commented on #1801
As you say, it's really odd.  There's just an `examples` directory.  I just downloaded all four wheel files for Python 3.10 from PyPI, and they all have an `examples` directory at the top level. However, building it from source does not include this directory. So maybe it's something about a newer or older version of setuputils or something like that causing this issue? But in this case it's proba

[2022-06-14 11:30] erling-d-andersen commented on #1787
A solution with a status of unknown can be anything from arbitrary junk to a for-all practical purpose good enough solution.

For instance, if Mosek runs out of space during setup it will say unknown.

[2022-06-15 22:59] garnoli99 commented on #411
Hi, appreciate this is a very old post but I have a similar need and cannot find any other posts on masking for cvxpy.

I would like to mask a 2d variable so that I only create constraints for some of elements in the variable matrix. I noticed I can do this using a 1d mask perfectly fine, but using a 2d masking approach similar to what numpy offers via `np.ma.MaskedArray` does not work.

For examp

[2022-06-15 23:34] SteveDiamond commented on #411
What version of cvxpy are you using? When I run
[code]
``x[mask]`` is a totally valid cvxpy expression, which selects the ``True`` entries.

[2022-06-16 16:52] phschiele commented on #1801
In `setup.py`, the following directories are excluded:
[code]
However, since there are subdirectories in `examples`, these are included again. We need to exclude `examples*`. I'll create a PR for that.

[2022-06-17 08:58] garnoli99 commented on #411
Thanks for your response, and sorry I realized my example is incorrect (just edited it now). I also should have been clearer: `x[mask]` does work but it results the matrix being flattened (`shape=(6,)`) which was causing issues elsewhere in my formulation.

To retain a shape of (3,3) I tried to use `np.ma.MaskedArray(data=x, mask=mask)` and this gives the error `{MaskError}Mask and data not compat

[2022-06-17 16:06] SteveDiamond commented on #411
I don't think the multiplication approach is really correct. The correct solution is
[code]

[2022-06-20 15:41] keithbriggs opened #1805 "Suppressing SCIP warning"
Is there any way to suppress this warning?

[code]

I'm not using SCIP, so I don't want to see this over and over again.  Also, there's a typo "itsversion".

Alternatively, to actually support SCIP 4.0.0 would be nice!

[2022-06-24 03:06] essence16 opened #1806 "ECOS seems get invalid results"
**Describe the bug**
When I solve a simple positive semidefinite quadratic programming question:
[code]
**To Reproduce**
The above easily express the issue.

**Expected behavior**
The question is quadratic and should have a minimum value rather than -inf for ECOS solver. OSQP solver gives a valid answer. 'SCS' also gives inf, which is difficult to understand. For this question, inf is not possible

[2022-06-24 14:02] #1806 closed

[2022-06-24 16:20] SteveDiamond commented on #1806
Not sure if you fixed your issue, but if not please post a code snippet that we can run.

[2022-06-24 16:27] SteveDiamond commented on #1805
Could you checkout PR #1807 and see if that fixes the issue?

[2022-06-27 13:27] datatravelgit opened #1809 "ERROR: No matching distribution found for numpy<1.20,>=1.19"
When installing cvxpy using pip proxy options, the step to build dependencies is failing :

ERROR: No matching distribution found for numpy<1.20,>=1.19

Note that I started with a new virtual environment.
Python version 3.9.12
I also installed all the cvxpy dependencies:
- osqp
- ecos
- scs
- numpy
- scipy
And tried again to install cvxpy with the same result.

I do believe that the installation u

[2022-06-28 11:36] eromoe opened #1811 "Encountered unexpected exception importing solver SCS"
**Describe the bug**

run example:
[code]

got:
[code]

**To Reproduce**

I installed `cvxpy` from conda forge ,  and I am using macbook m1 . I think m1 may be the problem

**Version**
 - OS:  mac m1
 - CVXPY Version: 1.2.1

[2022-06-29 02:18] eromoe opened #1812 "Example : select top N from array"
**Is your feature request related to a problem? Please describe.**

I have a model to predict customer ltv ( called `pltv`), and we want to find a best cutoff of  `pltv` to select customers with condition
- sum of revenue from top n customer, higher is better.
	-  `objective = cp.Maximize(cp.sum_largest( revenue[ y_pred >= cut] , n))`
- mean roi of top n customer, higher  is better ( which at leas

[2022-06-29 17:26] phschiele commented on #1812
Hi @eromoe !
There are a couple of issues with the code:
1. you can't slice numpy arrays using cvxpy variables. Generally, you should use numpy functions for data and cvxpy functions/classes for everything that depends on variables.
2. `sum_largest` is a convex function, i.e., you can only minimize it, not maximize it.
3. the second argument of `sum_largest` must be an integer, not a variable.
4.

[2022-06-29 17:34] phschiele commented on #1811
@eromoe This seems to be more an issue with SCS than with CVXPY. Nevertheless, you could try a different solver (as an argument for the `solve()` function, or try if any of the suggestions from [here](https://stackoverflow.com/questions/70216887/unable-to-use-scikit-learn-package-on-m1-mac-pro) will help.

[2022-06-29 17:41] phschiele commented on #1797
Hi @kubataytekin !
Can you try a different solver to isolate the issue?

[2022-06-29 17:58] datatravelgit commented on #1809
Hi,

The pip instruction that is failing is
[code]

I managed to take cvxpy of the quarentine status in the local repo, and after that I did manage to install cvxpy
[code]

Would it be possible that the cvxpy package may have some limitations regarding the use of a proxy in pip?

[2022-06-30 12:03] #1811 closed

[2022-07-01 02:05] eromoe commented on #1812
Thank you very much .
I was so busy yesterday that didn't reply inmediately. It's very kind of you to provide an dedicated example ! I would follow your recommendation to study it.

[2022-07-02 01:59] phschiele opened #1815 "XPRESS version 8.14.1 introduces test failure"
**Describe the bug**
The newest version of XPRESS ([8.14.1](https://pypi.org/project/xpress/#history), released June 24th) breaks the simple boolean test below:

https://github.com/cvxpy/cvxpy/blob/ec1f918d71f55d203c0797943c73fa3f27b3043c/cvxpy/tests/test_mip_vars.py#L109-L117

It's working under 8.14.0, so an interface change seems rather unlikely.

**Version**
 - OS: All
 - CVXPY Version: master

[2022-07-02 05:57] phschiele commented on #1809
@datatravelgit CVXPY does not do anything specific to limit the usage of a proxy.
It looks like the error you see is happening during the build when a pinned version of numpy is being fetched.
What operating system are you on?

[2022-07-02 19:25] rileyjmurray commented on #1815
@phschiele have you reported this to XPRESS devs?

[2022-07-02 19:27] rileyjmurray commented on #1815
Ping @merraksh, since you may know who at XPRESS should be informed about this.

[2022-07-02 19:49] phschiele commented on #1815
@rileyjmurray Yes, we reached out to @merraksh via mail :+1:

[2022-07-04 08:37] merraksh commented on #1815
Just left a note for the Xpress team.

[2022-07-04 14:40] xinyanglii opened #1816 "log_det for complex psd matrix"
**Describe the bug**
Hi cvxpy team,

I found that in the log_det function, the input matrix is treated as a real positive semidefinite (PSD) matrix. If the input is a complex matrix, the result turns out to be -np.inf, due to these lines:
[code]

In addition, as far as I know, PSD matrices are always considered as real matrics in cvxpy. It might lead to unexpected results if they are as well speci

[2022-07-04 20:30] rileyjmurray commented on #1816
Thanks for reporting! This is indeed a bug.  I believe it can be fixed by replacing ``symm = (values[0] + values[0].T)/2`` by ``symm = (values[0] + values[0].H)/2``.

[2022-07-05 09:02] HejaFCB commented on #1816
Hi, Thank you for the quick reply. I changed the source codes accordingly, however the output `prob.value` is still `-inf`.

[2022-07-06 17:18] phschiele opened #1819 "New example: CVXPY <> Pandas interoperability demonstration"
**Is your feature request related to a problem? Please describe.**
Pandas is a ubiquitous tool for data analysis in Python.
Existing examples focus on using numpy for data inputs. While it seems simple to convert from pandas to numpy, it might help to clarify some doubts of users. It also could help people search for terms like "pandas (convex) optimization" (?).

The example should include:
- Cre

[2022-07-10 03:18] 7summer commented on #1407
when I use ECCOS_BB, it produce the following error:
UserWarning: Solution may be inaccurate. Try another solver, adjusting the solver settings, or solve with verbose=True for more information.

[2022-07-12 11:44] rileyjmurray opened #1825 "Web docs: indicate whether a solver is first-order, second-order, or (for LPs only) simplex-based"
We have a list of solvers here

https://www.cvxpy.org/tutorial/advanced/index.html#choosing-a-solver

But there's no guidance on how to choose among them.

Facts off the top of my head:
* ECOS is a single-threaded second-order solver.
* CVXOPT is a multi-threaded second-order solver.
* SCS, PDLP, OSQP are first-order. (I believe all multi-threaded but could be wrong.)
* GUROBI, MOSEK, CPLEX, XPRES

[2022-07-14 09:38] mlbhl opened #1826 "Portfolio optimization problem"
Among examples, 'portfolio optimization' below is not working.

https://colab.research.google.com/github/cvxgrp/cvx_short_course/blob/master/applications/portfolio_optimization.ipynb

I guess it's about Problem setting.

'prob.solve()' encountered following error messages:

---------------------------------------------------------------------------
ValueError                                Traceba

[2022-07-14 16:54] codeterm opened #1827 "deepcopy leads to inconsistent behavior (RuntimeError)"
**Describe the bug**
Hi team, when I make a deep copy of the constraints (and/or the objective function) and use the copy the create the problem,  RuntimeError is raised in a simple case.

**To Reproduce**
The snippet is the first example on the CVXPY main website with a one-line change:

import cvxpy as cp

x = cp.Variable()
y = cp.Variable()

constraints = [x + y == 1,
               x - y >= 1]

[2022-07-14 17:37] SteveDiamond commented on #1827
Something is going on in the last day or so with the ``qp_matrix_stuffing`` part of the code. I suspect a change in SciPy but am not sure.

[2022-07-14 19:46] SteveDiamond commented on #1826
Also make sure you're using the lates cvxpy.

[2022-07-14 19:50] SteveDiamond commented on #1407
Make sure you're using the latest cvxpy.

[2022-07-14 20:32] phschiele commented on #1827
When calling `problem.variables()`, one ends up with a list of six variables for `vars_` in https://github.com/cvxpy/cvxpy/blob/d69ea122ddf457f2efdf3daa8ef0cc964bf0eca3/cvxpy/problems/problem.py#L346
The `unique_list()` fails to recognize that this is actually the same two variables three times (objective and two constraints). I believe this is because `deepcopy()` changes the `hash()` of the vari

[2022-07-14 20:38] phschiele commented on #1826
@rileyjmurray and @rileyjmurray had a good gut feeling here!
Colab uses cvxpy version 1.0.31.
Just create new cell, run `!pip install --upgrade cvxpy`, restart the runtime as prompted and you should be good to go!

(Perhaps we can create a PR to upgrade the dependencies on colab, but I'm not sure where these are defined, or even open source at all)

[2022-07-14 21:41] SteveDiamond commented on #1827
Nice diagnosis! I agree with what you're saying about using variable id to compare variables instead of the hash. I guess we do that by editing unique_list?

[2022-07-14 22:05] tasseff commented on #1443
If it's helpful at all, I have what's probably a rough start on a fork [here](https://github.com/tasseff/cvxpy). I'm not completely familiar with cvxpy's internals, though, so I may be missing some important pieces.

[2022-07-14 22:43] SteveDiamond commented on #1443
The fork looks reasonable. There are a few changes required but we can easily help with those if you make a PR.

[2022-07-15 02:06] codeterm commented on #1827
@phschiele basically I keep a dict of named constraints as a protected attribute in my class:

self._constraints = {'constraint_1': [ ... ], 'constraint_2': [ ... ], ..., 'constraint_n': [ ... ]}

and during the optimization stage some specified constraints can be relaxed (removed or replaced with a new list) in certain order if the original constraints do not give optimal solution. Since the orig

[2022-07-18 02:38] nicklar opened #1828 "Incorrect solution from quasilinear constraint"
**Describe the bug**
cp.sum(cp.sign(x)) constraints not being enforced in a DQCP.

**To Reproduce**
x = cp.Variable(2)
obj = cp.sum_squares(np.ones(2) - x)
constr = [cp.sum(cp.sign(x)) <= 1]
prob = cp.Problem(cp.Minimize(obj), constr)
prob.solve(qcp = True)

Also try this with <= 0 instead of 1 and it will raise a recursion error.

**Expected behavior**
The optimal solution of this problem should

[2022-07-18 15:10] SteveDiamond commented on #1828
Your problem should not be ``qcp``. It's a bug in the problem validation. QCP is only supposed to handle ``sign`` applied to scalars. @akshayka can you confirm?

[2022-07-18 17:46] #1828 closed

[2022-07-19 11:27] phschiele commented on #241
@tmh-alex you should be able to install `cvxpy-base`, which is deployed alongside `cvxpy` and does not contain the solvers:

https://www.cvxpy.org/install/index.html?highlight=cvxpy+base#install-without-default-solvers

[2022-07-19 16:36] SteveDiamond commented on #1605
@jakeknigge could you email me? I'd like to chat about how things are going with this, since we have a new solver that requires this interface.

[2022-07-21 18:13] SteveDiamond commented on #1605
Here is an outline for how this might be implemented:

1. Modify ``ConeMatrixStuffing`` so that it can take a quadratic objective.
2. Modify ``ParamConeProg`` so that it can take a quadratic objective (like ``ParamQuadProg``).
3. Add a ``quad_objective`` boolean flag to ``ConicSolver``. This will be false by default and true for SCS and other conic solvers that support quadratic objectives.
4. Mod

[2022-07-21 20:59] sunnyxxchen opened #1834 "diff fails on 2-D arrays with 1 row"
**Describe the bug**
The `diff` command raises the ValueError `"Must have k >= 0 and X must have < k elements along "axis"` when attempting to calculate discrete differences for a 1-by-N array across the row.

**To Reproduce**
[code]

**Expected behavior**
`cp.diff` should be able to calculate the discrete difference for these examples. The corresponding numpy command works correctly on these exam

[2022-07-21 22:56] #1834 closed

[2022-07-21 22:56] SteveDiamond commented on #1834
This is fixed on master.

[2022-07-22 01:39] jcbedoyam commented on #1377
Hi, since there has not been activity since last year I started implementing a solution. However, I have been having trouble with the reductions. I think the canonicalization are the same however I don't get what is the specific optimization problem I have to translate in qp2quad_form and dcp2cone.

[2022-07-22 03:24] SteveDiamond commented on #1377
In dcp2cone it should be exactly the same as what is done in cvx. In qp2quad_form you don't have to reduce quadratic terms in the objective. Not sure if that helps... Reach out on discord to discuss more in depth: https://discord.com/invite/4urRQeGBCr

[2022-07-22 08:21] roberthuisman opened #1837 "Misaligned dimensions (ValueError) for retrieving the gradient of quad_form"
**Describe the bug**
Quad_form crashes if I extract the gradient for a decision variable with two dimensions (e.g. (300x1)).
It doesnt crash with one-dimensional variables (e.g. shape=(300,))

It seems as if the grad.values of cp.quad_form contains misaligned matrix dimensions.
If any of you can confirm, I can implement a fix.

Formula for quad_form:
[code]

Formula in the gradient (quad_form._gra

[2022-07-23 14:40] mlbhl commented on #1826
Thank you all! It was a cvxpy version issue at Colab, as @phschiele pointed out. It was solved by upgrading cvxpy version!

[2022-07-23 14:40] #1826 closed

[2022-07-23 22:58] rileyjmurray opened #1841 "SOC.residual() appears to be untested and broken"
I was playing around with getting a vectorized rotated second order cone constraint in cvxpy. In the process I wanted to check feasibility of some manually assigned variable values with my implementation. When I tried to do this I got an error.

Minimal code to reproduce:
[code]
Click [here](https://github.com/cvxpy/cvxpy/blob/f2b77d663922eef74cbf18b2ad0e1e2c9211f8e9/cvxpy/constraints/second_order

[2022-07-24 05:26] SteveDiamond commented on #1841
The general idea I believe is to project onto the SOC and then see the euclidean distance to that projection.

[2022-07-24 16:26] rileyjmurray commented on #1841
I believe the code below would fix it:
[code]

[2022-07-24 16:29] SteveDiamond commented on #1841
I made a PR.

[2022-07-24 16:29] SteveDiamond commented on #1841
Awkward haha, I got the projection wrong. @rileyjmurray can you update the PR with the correct projection?

[2022-07-24 16:31] SteveDiamond commented on #1841
@rileyjmurray could you fix my PR with your code?

[2022-07-29 20:34] ejwyers commented on #1788
hello, I'm having the same issue mentioned above -- the visual studio install instructions at the google docs link requires me to ask for access, and when I type a message and click "request access" it tells me that I need to try again. this is on windows 10. thanks in advance.

[2022-07-29 20:41] ejwyers opened #1848 "Visual Studio installation guide is in Google Drive folder without access rights"
**Describe the bug**
Hello, I am looking to view the Visual Studio instructions in this google drive folder:

https://drive.google.com/file/d/0B4GsMXCRaSSIOWpYQkstajlYZ0tPVkNQSElmTWh1dXFaYkJr/view?usp=sharing

but I cannot access it.

**To Reproduce**
Go to https://www.cvxpy.org/install/index.html and click 'install instruction' for Visual Studio build tools.

**Expected behavior**
No waiting time

[2022-07-30 18:26] SteveDiamond commented on #1848
I don't know what to tell you. The sharing settings are anyone with a link can view. I've uploaded the slides here as well.
[CVXPY windows work through.pptx](https://github.com/cvxpy/cvxpy/files/9227081/CVXPY.windows.work.through.pptx)
.

[2022-07-30 18:37] ejwyers commented on #1848
Just tried to access the instructions through Google Drive, and this time I was able to submit a request, but still not able to view the instructions on there.

I do know what to tell you, though: thanks for the link.

[2022-07-30 22:23] SteveDiamond commented on #1848
Can you tell me if this link works? https://docs.google.com/presentation/d/0B4GsMXCRaSSIOWpYQkstajlYZ0tPVkNQSElmTWh1dXFaYkJr/edit?resourcekey=0-HEezB2NFstz1GjKDkroJSQ#slide=id.p1

[2022-07-30 22:29] ejwyers commented on #1848
Success!

Note though that the install wizard for Visual Studio from the link given on the cvxpy install page looks a bit different than what is shown in the google doc. It's still not too hard to figure out, but just wanted to mention it.

Thanks again!

[2022-07-30 23:55] SteveDiamond commented on #1848
The webpage has been updated.

[2022-07-30 23:55] #1848 closed

[2022-07-30 23:55] SteveDiamond commented on #1788
The webpage has been updated.

[2022-07-31 10:39] erelsgl opened #1850 ""cvxpy.error.SolverError: The solver XPRESS is not installed.""
**Describe the bug**
I [installed XPRESS ](https://content.fico.com/xpress-optimization-community-license?utm_source=FICO-Community&utm_medium=optimization-homepage) for Windows 10, with their community license.
Still, when I try to solve a problem with solver=cvxpy.XPRESS, I get this error:

   cvxpy.error.SolverError: The solver XPRESS is not installed

**To Reproduce**

    problem = cvxpy.Prob

[2022-07-31 16:15] rileyjmurray commented on #1850
Hi @erelsgl. Can you please provide more information? What happens when you try ``import xpress``?

[2022-07-31 16:25] erelsgl commented on #1850
Ah, I see my mistake - I installed XPRESS on my Windows system, but did not `pip install xpress`.

[2022-07-31 16:25] #1850 closed

[2022-08-01 02:19] #1443 closed

[2022-08-02 03:23] rileyjmurray commented on #1841
Resolved by #1844.

[2022-08-02 03:23] #1841 closed

[2022-08-02 06:48] shanek16 commented on #804
I have the same problem.

my terminal output:

my code:
[code]

csv files can be obtained here:
https://drive.google.com/drive/folders/1jW_6zBCdbJHB7yU3HmCIhamEyOT1LJqD?usp=sharing

I am not sure how to solve this problem.
Your help will be appreciated.
Thank you.

[2022-08-02 16:16] SteveDiamond commented on #804
cvxpy matrix multiplication is the same as numpy matrix multiplication: https://numpy.org/doc/stable/reference/generated/numpy.matmul.html
Print the dimensions of all the items involved and it should be clear what the issue is.

[2022-08-03 05:08] #1837 closed

[2022-08-03 05:17] rileyjmurray commented on #804
@sharansabi there's a small caveat with @SteveDiamond's answer: we don't have NumPy-style "broadcasting".

[2022-08-03 06:17] shanek16 commented on #804
Thank you for your answer.
I have checked the dimensions, and I solved the problem by getting rid of the redundant dimension.
[code]

[2022-08-03 16:22] k-kawakami213 opened #1855 "Not concave when given 0<p<1 as a parameter for the power"
**Describe the bug**
If p, 0<p<1 is given as the parameter of the power, it is not concave, but if given as a floating point, it becomes concave, why?

**To Reproduce**

[code]
This gives `Expression(CONCAVE, NONNEGATIVE, ())`, which is as I expected.

[code]
This gives `Expression(QUASILINEAR, NONNEGATIVE, ())`

**Expected behavior**
I thought the latter example would also be concave.

**Version*

[2022-08-03 16:40] SteveDiamond commented on #1855
Curvature does not depend on the value of parameters, only their sign. The reason for this is that the curvature must be the same even if you change the value of the parameter. Whereas constants cannot change so the curvature uses more information.

[2022-08-03 17:09] k-kawakami213 commented on #1855
@SteveDiamond
Thanks for the quick response. So, in power(x, p), if I use p as a parameter, can I formulate it as DCP/DPP? Is there some way around this?

[2022-08-03 17:21] SteveDiamond commented on #1855
No it is impossible. That's part of the restrictions of DPP. Why do you need the power to be a parameter?

[2022-08-03 17:21] SteveDiamond commented on #1855
The one exception is you could solve a geometric program.

[2022-08-03 17:30] k-kawakami213 commented on #1855
Thank you. I was hoping to solve it end-to-end using cvxpylayers, etc., but getting it into DPP seems complicated so I will consider a different approach.

[2022-08-03 17:30] #1855 closed

[2022-08-03 18:04] SteveDiamond commented on #1855
What precisely is your optimization problem? It might be GP compatible in which case you can use cvxpylayers.

[2022-08-03 18:24] k-kawakami213 commented on #1855
@SteveDiamond
I'd like to solve the bidding optimization problem for real-time bidding described in this [article](https://arxiv.org/pdf/1603.01055.pdf). I am trying to solve a problem in which Equation 14 is substituted into Equations 6 and 7.

The pseudo-code is as below:
[code]

[2022-08-03 18:34] SteveDiamond commented on #1855
That looks DGP to me (https://web.stanford.edu/~boyd/papers/diff_dgp.html, https://www.cvxpy.org/tutorial/dgp/index.html). You should define parameters as vectors rather than scalars. Also if you want to use cvxpylayers you need to be a bit more careful about what you choose as your parameters. Hopefully the linked paper will clarify.

[2022-08-03 22:46] k-kawakami213 commented on #1855
Thanks a lot for the advice! I will try it.

[2022-08-04 18:44] rsemenoff opened #1857 "Variable names in .mps files"
The problem is that I want to be able to use the NEOS offline service sometimes. Currently I export the problem to .mps via:
prob.solve(verbose=False,solver="XPRESS",write_mps='hpw15.mps')
However, I don't see any way to correlate the solution values back to the variable names I assigned in creating the problem.

What I'd like to happen is that cvxpy use my variable names in the exported .mps file

[2022-08-04 18:48] SteveDiamond commented on #1857
@maxschaller this is vaguely related to cvxpygen. Maybe some functionality can be added there?

[2022-08-04 21:08] sunnyxxchen opened #1858 "Cannot set time limit with PDLP and GLOP"
**Describe the bug**
An error occurs when passing the `time_limit_sec` option to PDLP and GLOP.

**To Reproduce**
[code]

**Output**
Using PDLP produces the following stacktrace:
[code]

while GLOP produces the following error:
[code]

**Version**
 - OS: macOS 12.4
 - CVXPY Version: 1.2.1

[2022-08-06 15:24] rileyjmurray commented on #1858
It looks like GLOP can be fixed by changing the relevant line to ``solver.SetTimeLimit(int(1000 * float(solver_opts["time_limit_sec"])))``. The error with PDLP is pretty opaque; ``help(parameters)`` and ``help(request)`` produce no useful documentation when the debugger is paused before the relevant line. @mlubin could you offer a suggestion for how to fix?

[2022-08-07 21:20] #1858 closed

[2022-08-08 13:07] realgump opened #1860 "How to install cvxpy 0.4 in 2022?"
Hi, I am currently running an old python2 code, which requires cvxpy==0.4.11. It's really hard to match the version of cvpxy, python, numpy... How to correctly install cvxpy 0.4?

[2022-08-09 02:07] rileyjmurray commented on #1860
Hi @realgump, thanks for coming by.

We don't officially support CVXPY 0.4 anymore. The best I can do is to point you to the testing configurations we used back when we did support CVXPY 0.4: https://github.com/cvxpy/cvxpy/blob/0.4/.travis.yml. Assuming the builds were working at the time then you'd want to install NumPy 1.10.4 and SciPy 0.17.0. I suggest you install these only by pip. Trying with

[2022-08-09 02:07] #1860 closed

[2022-08-10 13:16] marchinidavide opened #1863 "Dual value of constraints specified as variable attributes."
More of a question than a feature request.
Currently calling `problem.constraints()` does not include the "implicit" constraints defined as variables attributes.
From the docs it looks like specifying variable constraints through attributes is the recommended practice.

[code]

I found that `problem.variables()[0].domain[0].dual_value` of the solved problem is None.
However, specifying `constraint

[2022-08-10 16:16] SteveDiamond commented on #1863
Hmm that's a good point, you currently can't access dual values for variable attributes. We can add documentation saying if you want dual variables you should specify the constraint explicitly.

[2022-08-10 16:44] SteveDiamond commented on #1863
Yes that hypothetically could happen but could be fixed using a wrap (https://www.cvxpy.org/_modules/cvxpy/atoms/affine/wraps.html).

[2022-08-10 19:38] maxschaller commented on #1857
@rsemenoff are you using the `name` attribute for your cvxpy variables, like in this [example](https://github.com/cvxgrp/cvxpygen/blob/master/examples/main.py#L16)?

[2022-08-10 20:28] rsemenoff commented on #1857
Yes, that's exactly what I did. I have both array variables and single variables being createdwith the name attribute, and all the variables appear in the mps file as x_someindexnumber.
But I see that exporting problem files is not really supported much in cvxpy, i.e. its only available forthe xpress solver, and even in that case, I still have to deal with the solver running locally and bogging do

[2022-08-10 21:16] maxschaller commented on #1857
[Apparently](https://github.com/cvxpy/cvxpy/blob/master/cvxpy/reductions/solvers/conic_solvers/xpress_conif.py#L164), xpress stores a variable name for each component of its variable vector. I will look into naming them `yourvariable_0`, `yourvariable_1`, ..., `yourothervariable_0`, etc. - where the suffix denotes the component of the cvxpy variable (inspired by cvxpygen).

[2022-08-10 22:26] SteveDiamond commented on #1857
This was posted on the cvxpy discord:

Dear CVXPY community,

We have built some software that automatically generates an API and a frontend for your optimization model from an annotated model file, with CVXPY a supported language and important use case for ourselves personally. If you wish to check it out: https://fuinn.github.io/mos-docs/

Not all CVXPY structures are yet supported, but we are t

[2022-08-10 22:45] andro-demir opened #1864 "Exponential of a matrix"
Hi,

I'm trying take the exponent of a matrix and use it as a constraint in my optimization objective. Specifically I need to impose an acyclicity constraint on the adjacency matrix of a DAG.
Unfortunately, this feature is not listed in: https://www.cvxpy.org/tutorial/functions/index.html

Suppose that X is the adjacency matrix of my graph with 0s and 1s. If the graph is acyclic, then trace(e^X) -

[2022-08-10 23:09] rileyjmurray commented on #1864
I don't think you'll be able to get anywhere if you try to model things directly with the matrix exponential. Indeed, the matrix exponential, I'll call it ``expm``, is a nasty beast.

The first stumbling block is that ``expm`` isn't scalar-valued. This means you need to consider a different notion of convexity.

The natural notion of convexity for matrix-valued functions of matrices is that the fu

[2022-08-11 15:41] andac-demir commented on #1864
Thank you for your detailed response! I'm not experienced in optimization problems, but as far as I know ECOS_BB and MOSEK solvers are using Branch and Bound algorithm to solve mixed integer problems. The constraints don't have to be convex to employ Branch and Bound to the best of my knowledge.

[2022-08-11 17:01] rsemenoff commented on #1857
Maximillian,  If the name parameter could also be a list-like of strings (this is what I have) , would be my preference.  (CPLEX users would also find it easier to transfer their python code over to cvxpy)
Also, Im not aware of any reason to prefer .mps files, just that Neos-Gurobi supports it,but it also supports [AMPL] [GAMS] [LP] [MPS] [NL]
Thanks!Robert
    On Wednesday, August 10, 2022 at 02:

[2022-08-11 22:34] rileyjmurray commented on #1864
Branch-and-bound is a very general algorithmic design paradigm. In the context of solvers supported by cvxpy it has a very specific purpose: handle integer-valued variables. If some nonconvexity in a problem arises from anything other than integer constraints then you're mostly out of luck (although sometimes there are non-obvious reformulations you can use).

In this context the problem is that `

[2022-08-13 20:22] KerimovEmil opened #1865 "Norm operator with string input on a one dimensional array results in cryptic error"
**Describe the bug**
Norm operator with string input on a one dimensional array results in cryptic error. Specifically the norm atom doesn't correctly handle the cases of when `x` is a one dimensional vector with the options of `fro` or `nuc`. It passes `p` directly into the `pnorm` atom which tries to then compare the string against the number 0, resulting in a type error.

If it makes sense I ca

[2022-08-14 00:46] rileyjmurray commented on #1864
Ping @andac-demir; given my feedback about convexity of ``trace(expm(X))``, please let me know if you think that function could actually be useful for your problem.

[2022-08-14 00:49] rileyjmurray commented on #1787
@SteveDiamond @erling-d-andersen what do you think about not changing the status code and just always attempting to propagate MOSEK's solution back through the solving chain? We could introduce a new type of ``SolverError`` where the exception isn't raised until all variables are populated.

[2022-08-14 00:52] rileyjmurray commented on #1863
@SteveDiamond would you be open to adding functionality where dual variables of attributes are propagated back from the solver?

[2022-08-14 00:53] rileyjmurray commented on #1758
Closing due to inactivity.

[2022-08-14 00:53] #1758 closed

[2022-08-14 00:53] #1728 closed

[2022-08-14 01:05] rileyjmurray commented on #1816
The problem is that ``slogdet(X.value)`` is returning ``
((1+4.4360003524880695e-30j), 3.29583684600172)``. So what we should do is check that the matrix is Hermitian to within some specified tolerance, return ``-inf`` if not, and then check that the real part of ``slogdet(a)[0]`` is 1.

[2022-08-14 01:42] rileyjmurray commented on #1797
Hi @kubataytekin. Thanks for reporting. It turns out that your problem data contains NaNs:
[code]
You need to remove this problematic data before proceeding further.

A note: this connects to existing issues on passing infs and nans down the solvers: https://github.com/cvxpy/cvxpy/issues/1553 and https://github.com/cvxpy/cvxpy/issues/1470. I think it would be nice for the next release of CVXPY to

[2022-08-14 01:43] rileyjmurray commented on #1801
Closed by #1804.

[2022-08-14 01:43] #1801 closed

[2022-08-14 02:07] rileyjmurray commented on #1865
Hi @KerimovEmil, thanks for the report. I'm not sure what our semantics should be here. The ``pnorm`` function is supposed to be restricted to vectors or applied along an axis to a matrix. Based on that, strings specifying matrix norms (like the Frobenius or nuclear norms) wouldn't be acceptable arguments. @SteveDiamond @phschiele @akshayka do you suppose we should raise an error here?

[2022-08-14 02:18] phschiele commented on #1865
@rileyjmurray Raising an informative error message seems like a good idea.

[2022-08-14 03:16] SteveDiamond commented on #1863
I'm not sure this feature should be added. Wouldn't we need dual values for attributes that don't generate constraints like symmetric?

[2022-08-14 03:46] rileyjmurray commented on #1863
That's a good point. As far as symmetric / Hermitian goes, it would always be valid to set a dual variable to the matrix of all zeros (and to do that lazily).

[2022-08-14 04:42] SteveDiamond commented on #1863
Thinking about it more, I'm ok with adding dual variables for the attributes nonneg, nonpos, PSD, and NSD, accessible via ``domain`` as above. Covering other attributes is not so essential, and they don't have ``domain`` so the access pattern above wouldn't even be possible.

[2022-08-14 04:44] SteveDiamond commented on #1865
To be clear this isn't calling ``pnorm`` externally. It's about the behavior of ``norm``. I would vote for @KerimovEmil's idea of ``fro`` mapping to the L2 norm and ``nuc`` raising an error. It's pretty clear what the user meant for ``fro`` norm even if it's not strictly correct semantics.

[2022-08-15 08:34] aszekMosek commented on #1787
@rileyjmurray I would just comment that it must be some approach that makes the user painfully aware that what they are getting is in the category "this could be arbitrarily bad". Otherwise users will be fetching that solution (or, even worse, "solution") and using it without checking anything.

In Fusion we ask the user to call an explicit method to confirm they want to receive solutions other th

[2022-08-16 01:42] aengl5337 opened #1873 "Error resulting from constraint on an inverse product"
**Describe the bug**
I am writing a script to output RLC values given a desired skeleton operational amplifier circuit in an attempt to select components that will minimize noise over a given frequency band.

**Expected behavior**
Ultimately, I want to put a lower bound on the overall gain of the circuit by crafting each opamp gain to be a convex/concave function, and then constraining the inverse

[2022-08-16 04:31] SteveDiamond commented on #1873
I think this is a dumb windows bug. Here is the code for ``inv_prod``:
https://www.cvxpy.org/_modules/cvxpy/atoms/inv_prod.html
Try replacing ``inv_prod`` with the linked code and make sure the second argument to power is of type ``int64``.

[2022-08-16 07:11] aengl5337 commented on #1873
Fantastic, on to the next bug!  Thank you!!!

[2022-08-16 07:11] #1873 closed

[2022-08-16 19:13] SteveDiamond commented on #858
completed

[2022-08-16 19:13] #858 closed

[2022-08-16 19:13] #1273 closed

[2022-08-16 19:18] SteveDiamond commented on #705
Done!

[2022-08-16 19:18] #705 closed

[2022-08-16 19:22] #1750 closed

[2022-08-16 19:23] #1805 closed

[2022-08-16 19:26] #1114 closed

[2022-08-16 19:30] #1489 closed

[2022-08-16 19:33] #1092 closed

[2022-08-16 19:35] #1148 closed

[2022-08-16 19:36] #1150 closed

[2022-08-16 19:37] #826 closed

[2022-08-19 03:20] spcqql opened #1876 "_cvxcore DLL loaded failed in offline-install mode"
**Describe the bug**
I tried to install cvxpy on my PC physically isolated from internet(for some reason).
Thus, with my python version as 3.7.8, I collected all needed dependent modules(numpy,scs,scipy,ecos,qdldl and osqp) correspondingly and installed them in advance and at last, cvxpy, which all went well.
However, when I started to code and imported cvxpy, it tells me that "Import Error: DLL l